src/main/resources/schemas/lotju/metadata/v4/TiesaaPerustiedotEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2017/05/02" name="TiesaaPerustiedotEndpoint" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2017/05/02">
    <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2017/05/02" xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2015/09/29" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2017/05/02">
  <xs:import namespace="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2015/09/29"/>
  <xs:element name="HaeAnturi" type="tns:HaeAnturi"/>
  <xs:element name="HaeAnturiResponse" type="tns:HaeAnturiResponse"/>
  <xs:element name="HaeAnturisanoma" type="tns:HaeAnturisanoma"/>
  <xs:element name="HaeAnturisanomaResponse" type="tns:HaeAnturisanomaResponse"/>
  <xs:element name="HaeArvovastaavuus" type="tns:HaeArvovastaavuus"/>
  <xs:element name="HaeArvovastaavuusResponse" type="tns:HaeArvovastaavuusResponse"/>
  <xs:element name="HaeKaikkiAnturisanomat" type="tns:HaeKaikkiAnturisanomat"/>
  <xs:element name="HaeKaikkiAnturisanomatResponse" type="tns:HaeKaikkiAnturisanomatResponse"/>
  <xs:element name="HaeKaikkiArvovastaavuudet" type="tns:HaeKaikkiArvovastaavuudet"/>
  <xs:element name="HaeKaikkiArvovastaavuudetResponse" type="tns:HaeKaikkiArvovastaavuudetResponse"/>
  <xs:element name="HaeKaikkiLaskennallisetAnturit" type="tns:HaeKaikkiLaskennallisetAnturit"/>
  <xs:element name="HaeKaikkiLaskennallisetAnturitResponse" type="tns:HaeKaikkiLaskennallisetAnturitResponse"/>
  <xs:element name="HaeKaikkiTiesaaAsemat" type="tns:HaeKaikkiTiesaaAsemat"/>
  <xs:element name="HaeKaikkiTiesaaAsematResponse" type="tns:HaeKaikkiTiesaaAsematResponse"/>
  <xs:element name="HaeLaskennallinenAnturi" type="tns:HaeLaskennallinenAnturi"/>
  <xs:element name="HaeLaskennallinenAnturiResponse" type="tns:HaeLaskennallinenAnturiResponse"/>
  <xs:element name="HaeLaskennallisenAnturinArvovastaavuudet" type="tns:HaeLaskennallisenAnturinArvovastaavuudet"/>
  <xs:element name="HaeLaskennallisenAnturinArvovastaavuudetResponse" type="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse"/>
  <xs:element name="HaeTiesaaAsema" type="tns:HaeTiesaaAsema"/>
  <xs:element name="HaeTiesaaAsemaResponse" type="tns:HaeTiesaaAsemaResponse"/>
  <xs:element name="HaeTiesaaAsemanAnturit" type="tns:HaeTiesaaAsemanAnturit"/>
  <xs:element name="HaeTiesaaAsemanAnturitResponse" type="tns:HaeTiesaaAsemanAnturitResponse"/>
  <xs:element name="HaeTiesaaAsemanLaskennallisetAnturit" type="tns:HaeTiesaaAsemanLaskennallisetAnturit"/>
  <xs:element name="HaeTiesaaAsemanLaskennallisetAnturitResponse" type="tns:HaeTiesaaAsemanLaskennallisetAnturitResponse"/>
  <xs:element name="HaeTiesaaAsemanLaskennallistenAntureidenTilat" type="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilat"/>
  <xs:element name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse" type="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse"/>
  <xs:element name="HaeTiesaaAsemat" type="tns:HaeTiesaaAsemat"/>
  <xs:element name="HaeTiesaaAsematResponse" type="tns:HaeTiesaaAsematResponse"/>
  <xs:complexType name="HaeLaskennallisenAnturinArvovastaavuudet">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="arvovastaavuus" type="tns:arvoVastaavuusVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="arvoVastaavuusVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="b" type="xs:int"/>
          <xs:element minOccurs="0" name="g" type="xs:int"/>
          <xs:element minOccurs="0" name="kuvausEn" type="xs:string"/>
          <xs:element minOccurs="0" name="kuvausFi" type="xs:string"/>
          <xs:element minOccurs="0" name="kuvausSe" type="xs:string"/>
          <xs:element minOccurs="0" name="laskennallinenAnturiId" type="xs:long"/>
          <xs:element minOccurs="0" name="max" type="xs:decimal"/>
          <xs:element minOccurs="0" name="min" type="xs:decimal"/>
          <xs:element minOccurs="0" name="r" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="luonut" type="xs:string"/>
      <xs:element minOccurs="0" name="luotu" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="muokattu" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="muokkaaja" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiTiesaaAsemat">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiTiesaaAsematResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tiesaaAsema" type="tns:tiesaaAsemaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAsemaVO">
    <xs:complexContent>
      <xs:extension base="tns:havaintoAsemaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="aliasemaId" type="xs:int"/>
          <xs:element minOccurs="0" name="antureillaKaapelikaivo" type="xs:boolean"/>
          <xs:element minOccurs="0" name="antureillaPutkitukset" type="xs:boolean"/>
          <xs:element minOccurs="0" name="anturiliitantaHuoltotarranMerkinnat" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantaSarjanumero" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantaValmistusviikko" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantaValmistusvuosi" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantayksikko" type="xs:string"/>
          <xs:element minOccurs="0" name="ip" type="xs:string"/>
          <xs:element minOccurs="0" name="kaapelikaivonKunto" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikko" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonHuoltotarranMerkinnat" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonSarjanumero" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonValmistusviikko" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonValmistusvuosi" type="xs:string"/>
          <xs:element minOccurs="0" name="lisakuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="master" type="xs:boolean"/>
          <xs:element minOccurs="0" name="merkittavyys" type="xs:string"/>
          <xs:element minOccurs="0" name="portti" type="xs:int"/>
          <xs:element minOccurs="0" name="putkienMateriaali" type="xs:string"/>
          <xs:element minOccurs="0" name="tyyppi" type="tns:tiesaaAsemaTyyppi"/>
          <xs:element minOccurs="0" name="ymparistoKuvaus" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="havaintoAsemaVO">
    <xs:complexContent>
      <xs:extension base="tns:laiteSijainnillaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="aikakatkaisu" type="xs:int"/>
          <xs:element minOccurs="0" name="aikavyohyke" type="xs:string"/>
          <xs:element minOccurs="0" name="aliverkonPeite" type="xs:string"/>
          <xs:element minOccurs="0" name="alkamisPaiva" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="asemanSijainti" type="xs:string"/>
          <xs:element minOccurs="0" name="asemanTila" type="tns:tilaTyyppi"/>
          <xs:element minOccurs="0" name="hankeId" type="xs:string"/>
          <xs:element minOccurs="0" name="huoltoPuutteet" type="xs:string"/>
          <xs:element minOccurs="0" name="huoltolevikkeenEtaisyysAsemasta" type="xs:int"/>
          <xs:element minOccurs="0" name="julkinen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="keruuVali" type="xs:int"/>
          <xs:element minOccurs="0" name="keruunTila" type="tns:keruunTILA"/>
          <xs:element minOccurs="0" name="korjaushuolto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="kunta" type="xs:string"/>
          <xs:element minOccurs="0" name="kuntaKoodi" type="xs:string"/>
          <xs:element minOccurs="0" name="laitekaappiId" type="xs:string"/>
          <xs:element minOccurs="0" name="lisatieto" type="xs:string"/>
          <xs:element minOccurs="0" name="liviId" type="xs:string"/>
          <xs:element minOccurs="0" name="maa" type="xs:string"/>
          <xs:element minOccurs="0" name="maakunta" type="xs:string"/>
          <xs:element minOccurs="0" name="maakuntaKoodi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiEn" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiFi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiSe" type="xs:string"/>
          <xs:element minOccurs="0" name="ohjelmistoversio" type="xs:string"/>
          <xs:element minOccurs="0" name="paattymisPaiva" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="riittavanKokoinenHuoltolevike" type="xs:boolean"/>
          <xs:element minOccurs="0" name="synkronoituTierekisteriin" type="xs:boolean"/>
          <xs:element minOccurs="0" name="vanhaId" type="xs:int"/>
          <xs:element minOccurs="0" name="verkkolaiteId" type="xs:string"/>
          <xs:element minOccurs="0" name="vuosihuolto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="yhdyskaytava" type="xs:string"/>
          <xs:element minOccurs="0" name="yhteysTapa" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="laiteSijainnillaVO">
    <xs:complexContent>
      <xs:extension base="tns:laiteVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="korkeus" type="xs:decimal"/>
          <xs:element minOccurs="0" name="latitudi" type="xs:decimal"/>
          <xs:element minOccurs="0" name="longitudi" type="xs:decimal"/>
          <xs:element minOccurs="0" name="tieosoite" type="ns1:tieosoiteVO"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="laiteVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
          <xs:element minOccurs="0" name="takuunPaattymisPvm" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemat">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="parametrit" type="tns:tiesaaAsemaHakuparametrit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAsemaHakuparametrit">
    <xs:sequence>
      <xs:element minOccurs="0" name="kunta" type="xs:string"/>
      <xs:element minOccurs="0" name="maa" type="xs:string"/>
      <xs:element minOccurs="0" name="maakunta" type="xs:string"/>
      <xs:element minOccurs="0" name="tienumero" type="xs:int"/>
      <xs:element minOccurs="0" name="tieosa" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsematResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tiesaaAsema" type="tns:tiesaaAsemaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLaskennallisetAnturit">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLaskennallisetAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="laskennallinenAnturi" type="tns:tiesaaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaLaskennallinenAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractLaskennallinenAnturiVO">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLaskennallinenAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="b" type="xs:int"/>
          <xs:element minOccurs="0" name="esitysnimiEn" type="xs:string"/>
          <xs:element minOccurs="0" name="esitysnimiFi" type="xs:string"/>
          <xs:element minOccurs="0" name="esitysnimiSe" type="xs:string"/>
          <xs:element minOccurs="0" name="g" type="xs:int"/>
          <xs:element minOccurs="0" name="julkinen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="kuvausEn" type="xs:string"/>
          <xs:element minOccurs="0" name="kuvausFi" type="xs:string"/>
          <xs:element minOccurs="0" name="kuvausSe" type="xs:string"/>
          <xs:element minOccurs="0" name="laskentaKaava" type="xs:string"/>
          <xs:element minOccurs="0" name="lyhytNimi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
          <xs:element minOccurs="0" name="r" type="xs:int"/>
          <xs:element minOccurs="0" name="tarkkuus" type="xs:int"/>
          <xs:element minOccurs="0" name="vanhaId" type="xs:int"/>
          <xs:element minOccurs="0" name="yksikko" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeAnturi">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturiResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tiesaaAnturi" type="tns:tiesaaAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:laiteVO">
        <xs:sequence>
          <xs:element name="anturityyppiId" type="xs:long"/>
          <xs:element minOccurs="0" name="asennusPvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="huoltoJohto" type="xs:boolean"/>
          <xs:element minOccurs="0" name="huoltotarranMerkinnat" type="xs:string"/>
          <xs:element minOccurs="0" name="kalibrointiPvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="korkeus" type="xs:int"/>
          <xs:element minOccurs="0" name="poistoPvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="sarjanumero" type="xs:string"/>
          <xs:element name="tiesaaAsemaId" type="xs:long"/>
          <xs:element minOccurs="0" name="valmistusViikko" type="xs:int"/>
          <xs:element minOccurs="0" name="valmistusVuosi" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeAnturisanoma">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturisanomaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="anturisanoma" type="tns:anturiSanomaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anturiSanomaVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="max" type="xs:int"/>
          <xs:element minOccurs="0" name="min" type="xs:int"/>
          <xs:element minOccurs="0" name="sanomaAvain" type="xs:string"/>
          <xs:element minOccurs="0" name="yksikko" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiArvovastaavuudet">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiArvovastaavuudetResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="arvovastaavuus" type="tns:arvoVastaavuusVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiAnturisanomat">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiAnturisanomatResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="anturisanoma" type="tns:anturiSanomaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeArvovastaavuus">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeArvovastaavuusResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arvovastaavuus" type="tns:arvoVastaavuusVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallinenAnturi">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallinenAnturiResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="laskennallinenAnturi" type="tns:tiesaaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tilat" type="tns:tiesaaAsemaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAsemaLaskennallinenAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="asemaId" type="xs:long"/>
          <xs:element minOccurs="0" name="laskennallinenAnturiId" type="xs:long"/>
          <xs:element minOccurs="0" name="tila" type="tns:tilaTyyppi"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallisetAnturit">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallisetAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="laskennallinenAnturi" type="tns:tiesaaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanAnturit">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tiesaaAnturi" type="tns:tiesaaAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsema">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tiesaaAsema" type="tns:tiesaaAsemaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tiesaaAsemaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ROSA"/>
      <xs:enumeration value="E18"/>
      <xs:enumeration value="FINAVIA_V"/>
      <xs:enumeration value="FINAVIA_B"/>
      <xs:enumeration value="ELY_B"/>
      <xs:enumeration value="ISGN"/>
      <xs:enumeration value="OLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tilaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OK_VIKAEPAILY_PERUUTETTU"/>
      <xs:enumeration value="VIKAEPAILY"/>
      <xs:enumeration value="VIKA_VAHVISTETTU"/>
      <xs:enumeration value="VIKA_VAHVISTETTU_EI_KORJATA_LAHIAIKOINA"/>
      <xs:enumeration value="KORJAUSPYYNTO_LAHETETTY"/>
      <xs:enumeration value="KORJAUSHUOLTO_TEHTY"/>
      <xs:enumeration value="KORJAUS_KESKEYTETTY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="keruunTILA">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KERUUSSA"/>
      <xs:enumeration value="POISTETTU_TILAPAISESTI"/>
      <xs:enumeration value="POISTETTU_PYSYVASTI"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06" xmlns="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2015/09/29" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2015/09/29">
  <xs:import namespace="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06"/>
  <xs:complexType name="tieosoiteVO">
    <xs:complexContent>
      <xs:extension base="ns1:tieosoiteVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="urakkaAlue" type="xs:string"/>
          <xs:element minOccurs="0" name="urakkaAlueKoodi" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2017/05/02" xmlns="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06">
  <xs:import namespace="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2017/05/02"/>
  <xs:complexType name="tieosoiteVO">
    <xs:complexContent>
      <xs:extension base="ns1:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ajorata" type="xs:int"/>
          <xs:element minOccurs="0" name="etaisyysTieosanAlusta" type="xs:int"/>
          <xs:element minOccurs="0" name="puoli" type="xs:int"/>
          <xs:element minOccurs="0" name="tienHoitoluokka" type="xs:string"/>
          <xs:element minOccurs="0" name="tienumero" type="xs:int"/>
          <xs:element minOccurs="0" name="tieosa" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
    </wsdl:types>
    <wsdl:message name="HaeLaskennallisenAnturinArvovastaavuudet">
        <wsdl:part element="ns1:HaeLaskennallisenAnturinArvovastaavuudet" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
        <wsdl:part element="ns1:HaeLaskennallisenAnturinArvovastaavuudetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiTiesaaAsemat">
        <wsdl:part element="ns1:HaeKaikkiTiesaaAsemat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiTiesaaAsematResponse">
        <wsdl:part element="ns1:HaeKaikkiTiesaaAsematResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemat">
        <wsdl:part element="ns1:HaeTiesaaAsemat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsematResponse">
        <wsdl:part element="ns1:HaeTiesaaAsematResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiLaskennallisetAnturit">
        <wsdl:part element="ns1:HaeKaikkiLaskennallisetAnturit" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiLaskennallisetAnturitResponse">
        <wsdl:part element="ns1:HaeKaikkiLaskennallisetAnturitResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeAnturi">
        <wsdl:part element="ns1:HaeAnturi" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeAnturiResponse">
        <wsdl:part element="ns1:HaeAnturiResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeAnturisanoma">
        <wsdl:part element="ns1:HaeAnturisanoma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeAnturisanomaResponse">
        <wsdl:part element="ns1:HaeAnturisanomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiArvovastaavuudet">
        <wsdl:part element="ns1:HaeKaikkiArvovastaavuudet" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiArvovastaavuudetResponse">
        <wsdl:part element="ns1:HaeKaikkiArvovastaavuudetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiAnturisanomat">
        <wsdl:part element="ns1:HaeKaikkiAnturisanomat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeKaikkiAnturisanomatResponse">
        <wsdl:part element="ns1:HaeKaikkiAnturisanomatResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeArvovastaavuus">
        <wsdl:part element="ns1:HaeArvovastaavuus" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeArvovastaavuusResponse">
        <wsdl:part element="ns1:HaeArvovastaavuusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeLaskennallinenAnturi">
        <wsdl:part element="ns1:HaeLaskennallinenAnturi" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeLaskennallinenAnturiResponse">
        <wsdl:part element="ns1:HaeLaskennallinenAnturiResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
        <wsdl:part element="ns1:HaeTiesaaAsemanLaskennallistenAntureidenTilat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
        <wsdl:part element="ns1:HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemanLaskennallisetAnturit">
        <wsdl:part element="ns1:HaeTiesaaAsemanLaskennallisetAnturit" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemanLaskennallisetAnturitResponse">
        <wsdl:part element="ns1:HaeTiesaaAsemanLaskennallisetAnturitResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemanAnturit">
        <wsdl:part element="ns1:HaeTiesaaAsemanAnturit" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemanAnturitResponse">
        <wsdl:part element="ns1:HaeTiesaaAsemanAnturitResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsema">
        <wsdl:part element="ns1:HaeTiesaaAsema" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="HaeTiesaaAsemaResponse">
        <wsdl:part element="ns1:HaeTiesaaAsemaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="TiesaaPerustiedotEndpoint">
        <wsdl:operation name="HaeLaskennallisenAnturinArvovastaavuudet">
            <wsdl:input message="ns1:HaeLaskennallisenAnturinArvovastaavuudet" name="HaeLaskennallisenAnturinArvovastaavuudet"/>
            <wsdl:output message="ns1:HaeLaskennallisenAnturinArvovastaavuudetResponse" name="HaeLaskennallisenAnturinArvovastaavuudetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiTiesaaAsemat">
            <wsdl:input message="ns1:HaeKaikkiTiesaaAsemat" name="HaeKaikkiTiesaaAsemat"/>
            <wsdl:output message="ns1:HaeKaikkiTiesaaAsematResponse" name="HaeKaikkiTiesaaAsematResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeTiesaaAsemat">
            <wsdl:documentation>Tiesaaasemien haku hakuparametreilla. Jos mitaan hakuparametreja ei ole annettu, niin palautetaan kaikki tiesaaasemat</wsdl:documentation>
            <wsdl:input message="ns1:HaeTiesaaAsemat" name="HaeTiesaaAsemat"/>
            <wsdl:output message="ns1:HaeTiesaaAsematResponse" name="HaeTiesaaAsematResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiLaskennallisetAnturit">
            <wsdl:documentation>Palauttaa kaikki laskennalliset anturit. Laskennallinen anturi maarittelee arvolle yksikon ja nimen. Laskennallisen anturin tunniste sisaltyy tiesaatietovirran tietosisaltoon.</wsdl:documentation>
            <wsdl:input message="ns1:HaeKaikkiLaskennallisetAnturit" name="HaeKaikkiLaskennallisetAnturit"/>
            <wsdl:output message="ns1:HaeKaikkiLaskennallisetAnturitResponse" name="HaeKaikkiLaskennallisetAnturitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeAnturi">
            <wsdl:input message="ns1:HaeAnturi" name="HaeAnturi"/>
            <wsdl:output message="ns1:HaeAnturiResponse" name="HaeAnturiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeAnturisanoma">
            <wsdl:input message="ns1:HaeAnturisanoma" name="HaeAnturisanoma"/>
            <wsdl:output message="ns1:HaeAnturisanomaResponse" name="HaeAnturisanomaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiArvovastaavuudet">
            <wsdl:documentation>Palauttaa kaikki arvovastaavuudet. Arvovastaavuudella maaritetaan laskennallisen anturin arvovalin vastaavuus tekstuaaliseen kasitteeseen. Arvovastaavuus maarittelee myos arvovalin esitysvarin.</wsdl:documentation>
            <wsdl:input message="ns1:HaeKaikkiArvovastaavuudet" name="HaeKaikkiArvovastaavuudet"/>
            <wsdl:output message="ns1:HaeKaikkiArvovastaavuudetResponse" name="HaeKaikkiArvovastaavuudetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiAnturisanomat">
            <wsdl:input message="ns1:HaeKaikkiAnturisanomat" name="HaeKaikkiAnturisanomat"/>
            <wsdl:output message="ns1:HaeKaikkiAnturisanomatResponse" name="HaeKaikkiAnturisanomatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeArvovastaavuus">
            <wsdl:input message="ns1:HaeArvovastaavuus" name="HaeArvovastaavuus"/>
            <wsdl:output message="ns1:HaeArvovastaavuusResponse" name="HaeArvovastaavuusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeLaskennallinenAnturi">
            <wsdl:input message="ns1:HaeLaskennallinenAnturi" name="HaeLaskennallinenAnturi"/>
            <wsdl:output message="ns1:HaeLaskennallinenAnturiResponse" name="HaeLaskennallinenAnturiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
            <wsdl:input message="ns1:HaeTiesaaAsemanLaskennallistenAntureidenTilat" name="HaeTiesaaAsemanLaskennallistenAntureidenTilat"/>
            <wsdl:output message="ns1:HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse" name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeTiesaaAsemanLaskennallisetAnturit">
            <wsdl:documentation>Palauttaa kaikki tiesaaaseman laskennalliset anturit. Laskennallinen anturi maarittelee arvolle yksikon ja nimen. Laskennallisen anturin tunniste sisaltyy tiesaatietovirran tietosisaltoon.</wsdl:documentation>
            <wsdl:input message="ns1:HaeTiesaaAsemanLaskennallisetAnturit" name="HaeTiesaaAsemanLaskennallisetAnturit"/>
            <wsdl:output message="ns1:HaeTiesaaAsemanLaskennallisetAnturitResponse" name="HaeTiesaaAsemanLaskennallisetAnturitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeTiesaaAsemanAnturit">
            <wsdl:input message="ns1:HaeTiesaaAsemanAnturit" name="HaeTiesaaAsemanAnturit"/>
            <wsdl:output message="ns1:HaeTiesaaAsemanAnturitResponse" name="HaeTiesaaAsemanAnturitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HaeTiesaaAsema">
            <wsdl:input message="ns1:HaeTiesaaAsema" name="HaeTiesaaAsema"/>
            <wsdl:output message="ns1:HaeTiesaaAsemaResponse" name="HaeTiesaaAsemaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>