src/main/resources/wsdl/20140306/TiesaaHistoria.wsdl.pois

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TiesaaHistoriaEndpointService" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/tiesaahistoria/2014/02/21" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/tiesaahistoria/2014/02/21" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>Tiesaaasemien historiatietojen haku.</wsdl:documentation>
  <wsdl:types>
<xs:schema xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/tiesaahistoria/2014/02/21" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/tiesaahistoria/2014/02/21" version="1.0">

  <xs:element name="HaeTiesaaHistoriaAntureille" type="tns:HaeTiesaaHistoriaAntureille"/>

  <xs:element name="HaeTiesaaHistoriaAntureilleResponse" type="tns:HaeTiesaaHistoriaAntureilleResponse"/>

  <xs:element name="HaeTiesaaHistoriaAnturille" type="tns:HaeTiesaaHistoriaAnturille"/>

  <xs:element name="HaeTiesaaHistoriaAnturilleResponse" type="tns:HaeTiesaaHistoriaAnturilleResponse"/>

  <xs:element name="HaeTiesaaHistoriaAsemalle" type="tns:HaeTiesaaHistoriaAsemalle"/>

  <xs:element name="HaeTiesaaHistoriaAsemalleResponse" type="tns:HaeTiesaaHistoriaAsemalleResponse"/>

  <xs:element name="HaeTiesaaHistoriaAsemille" type="tns:HaeTiesaaHistoriaAsemille"/>

  <xs:element name="HaeTiesaaHistoriaAsemilleJaAntureille" type="tns:HaeTiesaaHistoriaAsemilleJaAntureille"/>

  <xs:element name="HaeTiesaaHistoriaAsemilleJaAntureilleResponse" type="tns:HaeTiesaaHistoriaAsemilleJaAntureilleResponse"/>

  <xs:element name="HaeTiesaaHistoriaAsemilleResponse" type="tns:HaeTiesaaHistoriaAsemilleResponse"/>

  <xs:element name="tiesaaAsemaHistoria" type="tns:tiesaaAsemaHistoria"/>

  <xs:complexType name="HaeTiesaaHistoriaAntureille">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="anturiId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="alkuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="loppuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="sivunNro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAntureilleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tiesaaAsemaHistoria"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tiesaaAsemaHistoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="tiesaaMittaTiedot">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="anturiData" nillable="true" type="tns:tiesaaMittatieto"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sivunNro" type="xs:int"/>
      <xs:element name="tulossivujaYhteensa" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tiesaaMittatieto">
    <xs:sequence>
      <xs:element minOccurs="0" name="aika" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="anturit" nillable="true" type="tns:anturiArvo"/>
      <xs:element minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="anturiArvo">
    <xs:sequence>
      <xs:element minOccurs="0" name="anturiAvain" type="xs:string"/>
      <xs:element minOccurs="0" name="anturiId" type="xs:long"/>
      <xs:element minOccurs="0" name="arvo" type="xs:decimal"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="tiesaaMittatieto" type="tns:tiesaaMittatieto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAnturille">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="anturiId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="alkuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="loppuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="sivunNro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAnturilleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tiesaaAsemaHistoria"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAsemalle">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="alkuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="loppuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="sivunNro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAsemalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tiesaaAsemaHistoria"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAsemille">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="alkuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="loppuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="sivunNro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAsemilleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tiesaaAsemaHistoria"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAsemilleJaAntureille">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="anturiId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="alkuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="loppuAika" type="xs:dateTime"/>
      <xs:element form="qualified" minOccurs="0" name="sivunNro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HaeTiesaaHistoriaAsemilleJaAntureilleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tiesaaAsemaHistoria"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="HaeTiesaaHistoriaAsemalle">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAsemalle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAsemilleJaAntureilleResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAsemilleJaAntureilleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAsemilleJaAntureille">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAsemilleJaAntureille">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAntureille">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAntureille">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAsemilleResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAsemilleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAntureilleResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAntureilleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAnturille">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAnturille">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAsemille">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAsemille">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAsemalleResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAsemalleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaHistoriaAnturilleResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaHistoriaAnturilleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="tiesaaHistoria">
    <wsdl:operation name="HaeTiesaaHistoriaAntureille">
      <wsdl:input name="HaeTiesaaHistoriaAntureille" message="tns:HaeTiesaaHistoriaAntureille">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAntureilleResponse" message="tns:HaeTiesaaHistoriaAntureilleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAnturille">
      <wsdl:input name="HaeTiesaaHistoriaAnturille" message="tns:HaeTiesaaHistoriaAnturille">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAnturilleResponse" message="tns:HaeTiesaaHistoriaAnturilleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAsemalle">
      <wsdl:input name="HaeTiesaaHistoriaAsemalle" message="tns:HaeTiesaaHistoriaAsemalle">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAsemalleResponse" message="tns:HaeTiesaaHistoriaAsemalleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAsemille">
      <wsdl:input name="HaeTiesaaHistoriaAsemille" message="tns:HaeTiesaaHistoriaAsemille">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAsemilleResponse" message="tns:HaeTiesaaHistoriaAsemilleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAsemilleJaAntureille">
      <wsdl:input name="HaeTiesaaHistoriaAsemilleJaAntureille" message="tns:HaeTiesaaHistoriaAsemilleJaAntureille">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAsemilleJaAntureilleResponse" message="tns:HaeTiesaaHistoriaAsemilleJaAntureilleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TiesaaHistoriaEndpointServiceSoapBinding" type="tns:tiesaaHistoria">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HaeTiesaaHistoriaAntureille">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaHistoriaAntureille">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAntureilleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAnturille">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaHistoriaAnturille">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAnturilleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAsemalle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaHistoriaAsemalle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAsemalleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAsemille">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaHistoriaAsemille">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAsemilleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaHistoriaAsemilleJaAntureille">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaHistoriaAsemilleJaAntureille">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaHistoriaAsemilleJaAntureilleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiesaaHistoriaEndpointService">
    <wsdl:port name="tiesaaHistoriaPort" binding="tns:TiesaaHistoriaEndpointServiceSoapBinding">
      <soap:address location="TIESAAHISTORIA_WS_URL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
