src/main/resources/wsdl/20150929/LAMMetatiedot.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LAMMetatiedotService" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/LAMmetatiedot/2015/09/29"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/LAMmetatiedot/2015/09/29"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/LAMmetatiedot/2015/09/29" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/LAMmetatiedot/2015/09/29">
  <xs:element name="HaeAnturiVakio" type="tns:HaeAnturiVakio"/>
  <xs:element name="HaeAnturiVakioArvot" type="tns:HaeAnturiVakioArvot"/>
  <xs:element name="HaeAnturiVakioArvotResponse" type="tns:HaeAnturiVakioArvotResponse"/>
  <xs:element name="HaeAnturiVakioResponse" type="tns:HaeAnturiVakioResponse"/>
  <xs:element name="HaeArvovastaavuus" type="tns:HaeArvovastaavuus"/>
  <xs:element name="HaeArvovastaavuusResponse" type="tns:HaeArvovastaavuusResponse"/>
  <xs:element name="HaeAsemanAnturiVakio" type="tns:HaeAsemanAnturiVakio"/>
  <xs:element name="HaeAsemanAnturiVakioArvot" type="tns:HaeAsemanAnturiVakioArvot"/>
  <xs:element name="HaeAsemanAnturiVakioArvotResponse" type="tns:HaeAsemanAnturiVakioArvotResponse"/>
  <xs:element name="HaeAsemanAnturiVakioResponse" type="tns:HaeAsemanAnturiVakioResponse"/>
  <xs:element name="HaeKaikkiAnturiVakioArvot" type="tns:HaeKaikkiAnturiVakioArvot"/>
  <xs:element name="HaeKaikkiAnturiVakioArvotResponse" type="tns:HaeKaikkiAnturiVakioArvotResponse"/>
  <xs:element name="HaeKaikkiArvovastaavuudet" type="tns:HaeKaikkiArvovastaavuudet"/>
  <xs:element name="HaeKaikkiArvovastaavuudetResponse" type="tns:HaeKaikkiArvovastaavuudetResponse"/>
  <xs:element name="HaeKaikkiLAMAnturit" type="tns:HaeKaikkiLAMAnturit"/>
  <xs:element name="HaeKaikkiLAMAnturitResponse" type="tns:HaeKaikkiLAMAnturitResponse"/>
  <xs:element name="HaeKaikkiLAMAsemat" type="tns:HaeKaikkiLAMAsemat"/>
  <xs:element name="HaeKaikkiLAMAsematResponse" type="tns:HaeKaikkiLAMAsematResponse"/>
  <xs:element name="HaeKaikkiLAMLaskennallisetAnturit" type="tns:HaeKaikkiLAMLaskennallisetAnturit"/>
  <xs:element name="HaeKaikkiLAMLaskennallisetAnturitResponse" type="tns:HaeKaikkiLAMLaskennallisetAnturitResponse"/>
  <xs:element name="HaeLAMAnturi" type="tns:HaeLAMAnturi"/>
  <xs:element name="HaeLAMAnturiResponse" type="tns:HaeLAMAnturiResponse"/>
  <xs:element name="HaeLAMAsema" type="tns:HaeLAMAsema"/>
  <xs:element name="HaeLAMAsemaResponse" type="tns:HaeLAMAsemaResponse"/>
  <xs:element name="HaeLAMAsemanAnturit" type="tns:HaeLAMAsemanAnturit"/>
  <xs:element name="HaeLAMAsemanAnturitResponse" type="tns:HaeLAMAsemanAnturitResponse"/>
  <xs:element name="HaeLAMAsemanLaskennallisetAnturit" type="tns:HaeLAMAsemanLaskennallisetAnturit"/>
  <xs:element name="HaeLAMAsemanLaskennallisetAnturitResponse" type="tns:HaeLAMAsemanLaskennallisetAnturitResponse"/>
  <xs:element name="HaeLAMAsemanLaskennallistenAntureidenTilat" type="tns:HaeLAMAsemanLaskennallistenAntureidenTilat"/>
  <xs:element name="HaeLAMAsemanLaskennallistenAntureidenTilatResponse" type="tns:HaeLAMAsemanLaskennallistenAntureidenTilatResponse"/>
  <xs:element name="HaeLAMLaskennallinenAnturi" type="tns:HaeLAMLaskennallinenAnturi"/>
  <xs:element name="HaeLAMLaskennallinenAnturiResponse" type="tns:HaeLAMLaskennallinenAnturiResponse"/>
  <xs:element name="HaeLaskennallisenAnturinArvovastaavuudet" type="tns:HaeLaskennallisenAnturinArvovastaavuudet"/>
  <xs:element name="HaeLaskennallisenAnturinArvovastaavuudetResponse" type="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse"/>
  <xs:complexType name="HaeAsemanAnturiVakio">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAsemanAnturiVakioResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="lamanturivakiot" type="tns:lamAnturiVakio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamAnturiVakio">
    <xs:complexContent>
      <xs:extension base="tns:abstractLAMAnturiVakio">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLAMAnturiVakio">
    <xs:complexContent>
      <xs:extension base="tns:pojo">
        <xs:sequence>
          <xs:element minOccurs="0" name="asemaId" type="xs:long"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="pojo">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeAnturiVakioArvot">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="anturiVakioId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="paiva" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="kuukausi" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturiVakioArvotResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="lamanturivakio" type="tns:lamAnturiVakioArvo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamAnturiVakioArvo">
    <xs:complexContent>
      <xs:extension base="tns:abstractLAMAnturiVakioArvo">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLAMAnturiVakioArvo">
    <xs:complexContent>
      <xs:extension base="tns:pojo">
        <xs:sequence>
          <xs:element minOccurs="0" name="anturiVakioId" type="xs:long"/>
          <xs:element minOccurs="0" name="arvo" type="xs:int"/>
          <xs:element minOccurs="0" name="voimassaAlku" type="xs:int"/>
          <xs:element minOccurs="0" name="voimassaLoppu" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallisenAnturinArvovastaavuudet">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="arvovastaavuudet" type="tns:lamArvoVastaavuus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamArvoVastaavuus">
    <xs:complexContent>
      <xs:extension base="tns:abstractArvoVastaavuus">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractArvoVastaavuus">
    <xs:complexContent>
      <xs:extension base="tns:pojo">
        <xs:sequence>
          <xs:element minOccurs="0" name="b" type="xs:int"/>
          <xs:element minOccurs="0" name="g" type="xs:int"/>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="laskennallinenAnturiId" type="xs:long"/>
          <xs:element minOccurs="0" name="max" type="xs:decimal"/>
          <xs:element minOccurs="0" name="min" type="xs:decimal"/>
          <xs:element minOccurs="0" name="r" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsema">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asema" type="tns:lamAsema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamAsema">
    <xs:complexContent>
      <xs:extension base="tns:abstractLAMAsema">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLAMAsema">
    <xs:complexContent>
      <xs:extension base="tns:havaintoAsema">
        <xs:sequence>
          <xs:element minOccurs="0" name="akku" type="xs:string"/>
          <xs:element minOccurs="0" name="akkuKayttoonottoVuosi" type="xs:int"/>
          <xs:element minOccurs="0" name="ip" type="xs:string"/>
          <xs:element minOccurs="0" name="laskinlaite" type="tns:laiteTyyppi"/>
          <xs:element minOccurs="0" name="laskinlaiteSarjanumero" type="xs:string"/>
          <xs:element minOccurs="0" name="laskinlaiteToimituspvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="latauslaite" type="xs:string"/>
          <xs:element minOccurs="0" name="latauslaiteKayttoonottoVuosi" type="xs:int"/>
          <xs:element minOccurs="0" name="liitantayksikko" type="tns:laiteTyyppi"/>
          <xs:element minOccurs="0" name="lisatietoja" type="xs:string"/>
          <xs:element minOccurs="0" name="portti" type="xs:int"/>
          <xs:element minOccurs="0" name="suunta1Kunta" type="xs:string"/>
          <xs:element minOccurs="0" name="suunta1KuntaKoodi" type="xs:int"/>
          <xs:element minOccurs="0" name="suunta2Kunta" type="xs:string"/>
          <xs:element minOccurs="0" name="suunta2KuntaKoodi" type="xs:int"/>
          <xs:element minOccurs="0" name="tyyppi" type="tns:lamAsemaTyyppi"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="havaintoAsema">
    <xs:complexContent>
      <xs:extension base="tns:laiteSijainnilla">
        <xs:sequence>
          <xs:element minOccurs="0" name="aikakatkaisu" type="xs:int"/>
          <xs:element minOccurs="0" name="aikavyohyke" type="xs:string"/>
          <xs:element minOccurs="0" name="aliverkonPeite" type="xs:string"/>
          <xs:element minOccurs="0" name="alkamisPaiva" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="asemanSijainti" type="xs:string"/>
          <xs:element minOccurs="0" name="asemanTila" type="tns:tilaTyyppi"/>
          <xs:element minOccurs="0" name="huoltoPuutteet" type="xs:string"/>
          <xs:element minOccurs="0" name="huoltolevikkeenEtaisyysAsemasta" type="xs:int"/>
          <xs:element minOccurs="0" name="keruuVali" type="xs:int"/>
          <xs:element minOccurs="0" name="keruunTila" type="tns:keruunTILA"/>
          <xs:element minOccurs="0" name="korjaushuolto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="kunta" type="xs:string"/>
          <xs:element minOccurs="0" name="kuntaKoodi" type="xs:string"/>
          <xs:element minOccurs="0" name="laitekaappiId" type="xs:string"/>
          <xs:element minOccurs="0" name="lisatieto" type="xs:string"/>
          <xs:element minOccurs="0" name="liviId" type="xs:string"/>
          <xs:element minOccurs="0" name="maa" type="xs:string"/>
          <xs:element minOccurs="0" name="maakunta" type="xs:string"/>
          <xs:element minOccurs="0" name="maakuntaKoodi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiEn" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiFi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiSe" type="xs:string"/>
          <xs:element minOccurs="0" name="ohjelmistoversio" type="xs:string"/>
          <xs:element minOccurs="0" name="paattymisPaiva" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="riittavanKokoinenHuoltolevike" type="xs:boolean"/>
          <xs:element minOccurs="0" name="synkronoituTierekisteriin" type="xs:boolean"/>
          <xs:element minOccurs="0" name="vanhaId" type="xs:int"/>
          <xs:element minOccurs="0" name="verkkolaiteId" type="xs:string"/>
          <xs:element minOccurs="0" name="vuosihuolto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="yhdyskaytava" type="xs:string"/>
          <xs:element minOccurs="0" name="yhteysTapa" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="laiteSijainnilla">
    <xs:complexContent>
      <xs:extension base="tns:laite">
        <xs:sequence>
          <xs:element minOccurs="0" name="korkeus" type="xs:decimal"/>
          <xs:element minOccurs="0" name="latitudi" type="xs:decimal"/>
          <xs:element minOccurs="0" name="longitudi" type="xs:decimal"/>
          <xs:element minOccurs="0" name="tieosoite" type="tns:tieosoite"/>
          <xs:element minOccurs="0" name="tieosoiteId" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="laite">
    <xs:complexContent>
      <xs:extension base="tns:pojo">
        <xs:sequence>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
          <xs:element minOccurs="0" name="takuunPaattymisPvm" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tieosoite">
    <xs:complexContent>
      <xs:extension base="tns:pojo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ajorata" type="xs:int"/>
          <xs:element minOccurs="0" name="etaisyysTieosanAlusta" type="xs:int"/>
          <xs:element minOccurs="0" name="puoli" type="xs:int"/>
          <xs:element minOccurs="0" name="tienHoitoluokka" type="xs:string"/>
          <xs:element minOccurs="0" name="tienumero" type="xs:int"/>
          <xs:element minOccurs="0" name="tieosa" type="xs:int"/>
          <xs:element minOccurs="0" name="urakkaAlue" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLAMAnturit">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLAMAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="anturit" type="tns:lamAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamAnturi">
    <xs:complexContent>
      <xs:extension base="tns:laite">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
          <xs:element minOccurs="0" name="kaapelikaivonKunto" type="xs:string"/>
          <xs:element minOccurs="0" name="korkeus" type="xs:int"/>
          <xs:element minOccurs="0" name="lamAsemaId" type="xs:long"/>
          <xs:element name="laskettavienKaistojenLkmSuunta1" type="xs:int"/>
          <xs:element name="laskettavienKaistojenLkmSuunta2" type="xs:int"/>
          <xs:element name="pisteellaKaapelikaivo" type="xs:boolean"/>
          <xs:element name="silmukkakaapelitSuojaputkessa" type="xs:boolean"/>
          <xs:element minOccurs="0" name="suojaputkenMateriaali" type="xs:string"/>
          <xs:element minOccurs="0" name="valmistusAika" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemanAnturit">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemanAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="anturit" type="tns:lamAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemanLaskennallisetAnturit">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemanLaskennallisetAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="lamlaskennallisetanturit" type="tns:lamLaskennallinenAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamLaskennallinenAnturi">
    <xs:complexContent>
      <xs:extension base="tns:abstractLAMLaskennallinenAnturi">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLAMLaskennallinenAnturi">
    <xs:complexContent>
      <xs:extension base="tns:abstractLaskennallinenAnturi">
        <xs:sequence>
          <xs:element minOccurs="0" name="ajoneuvoluokka" type="tns:ajoneuvoluokkaTyyppi"/>
          <xs:element minOccurs="0" name="kaista" type="xs:int"/>
          <xs:element minOccurs="0" name="suunta" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLaskennallinenAnturi">
    <xs:complexContent>
      <xs:extension base="tns:pojo">
        <xs:sequence>
          <xs:element minOccurs="0" name="b" type="xs:int"/>
          <xs:element minOccurs="0" name="g" type="xs:int"/>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="laskentaKaava" type="xs:string"/>
          <xs:element minOccurs="0" name="lyhytNimi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
          <xs:element minOccurs="0" name="r" type="xs:int"/>
          <xs:element minOccurs="0" name="tarkkuus" type="xs:int"/>
          <xs:element minOccurs="0" name="vanhaId" type="xs:int"/>
          <xs:element minOccurs="0" name="yksikko" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeArvovastaavuus">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeArvovastaavuusResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arvovastaavuus" type="tns:lamArvoVastaavuus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAsemanAnturiVakioArvot">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="paiva" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="kuukausi" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAsemanAnturiVakioArvotResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="lamanturivakiot" type="tns:lamAnturiVakioArvo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMLaskennallinenAnturi">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMLaskennallinenAnturiResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="lamlaskennallinenanturi" type="tns:lamLaskennallinenAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemanLaskennallistenAntureidenTilat">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAsemanLaskennallistenAntureidenTilatResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tilat" type="tns:lamAsemaLaskennallinenAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lamAsemaLaskennallinenAnturi">
    <xs:complexContent>
      <xs:extension base="tns:abstractLAMAsemaLaskennallinenAnturi">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLAMAsemaLaskennallinenAnturi">
    <xs:sequence>
      <xs:element minOccurs="0" name="asemaId" type="xs:long"/>
      <xs:element minOccurs="0" name="laskennallinenAnturiId" type="xs:long"/>
      <xs:element minOccurs="0" name="tila" type="tns:tilaTyyppi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiAnturiVakioArvot">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="paiva" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="kuukausi" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiAnturiVakioArvotResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="lamanturivakiot" type="tns:lamAnturiVakioArvo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiArvovastaavuudet">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiArvovastaavuudetResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="arvovastaavuus" type="tns:lamArvoVastaavuus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLAMAsemat">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLAMAsematResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="asemat" type="tns:lamAsema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturiVakio">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="anturiVakioId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturiVakioResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="lamanturivakio" type="tns:lamAnturiVakio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAnturi">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLAMAnturiResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="anturi" type="tns:lamAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLAMLaskennallisetAnturit">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLAMLaskennallisetAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="laskennallinenAnturi" type="tns:lamLaskennallinenAnturi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="virhekoodi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAMASEMAA_EI_LOYDY"/>
      <xs:enumeration value="LAMANTURIA_EI_LOYDY"/>
      <xs:enumeration value="LAMLASKENNALLISTAANTURIA_EI_LOYDY"/>
      <xs:enumeration value="ASEMAKOKOONPANOA_EI_LOYDY"/>
      <xs:enumeration value="KAYTOSSA_OLEVAA_OBJEKTIA_EI_VOI_POISTAA"/>
      <xs:enumeration value="KOKOONPAANON_YHDISTETTYA_LASKENNALLISTA_ANTURIA_EI_VOI_POISTAA"/>
      <xs:enumeration value="MUU_VIRHE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="laiteTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DSL_3"/>
      <xs:enumeration value="DSL_4L"/>
      <xs:enumeration value="DSL_4G"/>
      <xs:enumeration value="DSL_5"/>
      <xs:enumeration value="MUU"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lamAsemaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DSL"/>
      <xs:enumeration value="E18"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tilaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OK_VIKAEPAILY_PERUUTETTU"/>
      <xs:enumeration value="VIKAEPAILY"/>
      <xs:enumeration value="VIKA_VAHVISTETTU"/>
      <xs:enumeration value="VIKA_VAHVISTETTU_EI_KORJATA_LAHIAIKOINA"/>
      <xs:enumeration value="KORJAUSPYYNTO_LAHETETTY"/>
      <xs:enumeration value="KORJAUSHUOLTO_TEHTY"/>
      <xs:enumeration value="KORJAUS_KESKEYTETTY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="keruunTILA">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KERUUSSA"/>
      <xs:enumeration value="POISTETTU_TILAPAISESTI"/>
      <xs:enumeration value="POISTETTU_PYSYVASTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ajoneuvoluokkaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HA"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="KAIP"/>
      <xs:enumeration value="KAPP"/>
      <xs:enumeration value="KATP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="kameraPerustiedotVirhe" type="tns:kameraPerustiedotVirhe"/>
  <xs:complexType name="kameraPerustiedotVirhe">
    <xs:sequence>
      <xs:element name="virhekoodi" nillable="true" type="tns:virhekoodi"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="LAMMetatiedotException">
    <wsdl:part name="LAMMetatiedotException" element="tns:kameraPerustiedotVirhe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiArvovastaavuudetResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiArvovastaavuudetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLAMAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLAMAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLAMAsemat">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLAMAsemat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturiVakioResponse">
    <wsdl:part name="parameters" element="tns:HaeAnturiVakioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeArvovastaavuus">
    <wsdl:part name="parameters" element="tns:HaeArvovastaavuus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemanAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemanAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLAMLaskennallisetAnturit">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLAMLaskennallisetAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLAMLaskennallisetAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLAMLaskennallisetAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLAMAsematResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLAMAsematResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLAMAnturit">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLAMAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsema">
    <wsdl:part name="parameters" element="tns:HaeLAMAsema">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemanLaskennallisetAnturit">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemanLaskennallisetAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiAnturiVakioArvot">
    <wsdl:part name="parameters" element="tns:HaeKaikkiAnturiVakioArvot">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAnturi">
    <wsdl:part name="parameters" element="tns:HaeLAMAnturi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemanLaskennallistenAntureidenTilat">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemanLaskennallistenAntureidenTilat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeArvovastaavuusResponse">
    <wsdl:part name="parameters" element="tns:HaeArvovastaavuusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMLaskennallinenAnturi">
    <wsdl:part name="parameters" element="tns:HaeLAMLaskennallinenAnturi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAsemanAnturiVakioArvotResponse">
    <wsdl:part name="parameters" element="tns:HaeAsemanAnturiVakioArvotResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemaResponse">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
    <wsdl:part name="parameters" element="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturiVakio">
    <wsdl:part name="parameters" element="tns:HaeAnturiVakio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiAnturiVakioArvotResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiAnturiVakioArvotResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAsemanAnturiVakioArvot">
    <wsdl:part name="parameters" element="tns:HaeAsemanAnturiVakioArvot">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAnturiResponse">
    <wsdl:part name="parameters" element="tns:HaeLAMAnturiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLaskennallisenAnturinArvovastaavuudet">
    <wsdl:part name="parameters" element="tns:HaeLaskennallisenAnturinArvovastaavuudet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiArvovastaavuudet">
    <wsdl:part name="parameters" element="tns:HaeKaikkiArvovastaavuudet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAsemanAnturiVakio">
    <wsdl:part name="parameters" element="tns:HaeAsemanAnturiVakio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemanAnturit">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemanAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAsemanAnturiVakioResponse">
    <wsdl:part name="parameters" element="tns:HaeAsemanAnturiVakioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturiVakioArvotResponse">
    <wsdl:part name="parameters" element="tns:HaeAnturiVakioArvotResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemanLaskennallisetAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemanLaskennallisetAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturiVakioArvot">
    <wsdl:part name="parameters" element="tns:HaeAnturiVakioArvot">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMLaskennallinenAnturiResponse">
    <wsdl:part name="parameters" element="tns:HaeLAMLaskennallinenAnturiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLAMAsemanLaskennallistenAntureidenTilatResponse">
    <wsdl:part name="parameters" element="tns:HaeLAMAsemanLaskennallistenAntureidenTilatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LAMMetatiedot">
    <wsdl:operation name="HaeAsemanAnturiVakio">
      <wsdl:input name="HaeAsemanAnturiVakio" message="tns:HaeAsemanAnturiVakio">
    </wsdl:input>
      <wsdl:output name="HaeAsemanAnturiVakioResponse" message="tns:HaeAsemanAnturiVakioResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturiVakioArvot">
      <wsdl:input name="HaeAnturiVakioArvot" message="tns:HaeAnturiVakioArvot">
    </wsdl:input>
      <wsdl:output name="HaeAnturiVakioArvotResponse" message="tns:HaeAnturiVakioArvotResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLaskennallisenAnturinArvovastaavuudet">
      <wsdl:input name="HaeLaskennallisenAnturinArvovastaavuudet" message="tns:HaeLaskennallisenAnturinArvovastaavuudet">
    </wsdl:input>
      <wsdl:output name="HaeLaskennallisenAnturinArvovastaavuudetResponse" message="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsema">
      <wsdl:input name="HaeLAMAsema" message="tns:HaeLAMAsema">
    </wsdl:input>
      <wsdl:output name="HaeLAMAsemaResponse" message="tns:HaeLAMAsemaResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLAMAnturit">
      <wsdl:input name="HaeKaikkiLAMAnturit" message="tns:HaeKaikkiLAMAnturit">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiLAMAnturitResponse" message="tns:HaeKaikkiLAMAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsemanAnturit">
      <wsdl:input name="HaeLAMAsemanAnturit" message="tns:HaeLAMAsemanAnturit">
    </wsdl:input>
      <wsdl:output name="HaeLAMAsemanAnturitResponse" message="tns:HaeLAMAsemanAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsemanLaskennallisetAnturit">
      <wsdl:input name="HaeLAMAsemanLaskennallisetAnturit" message="tns:HaeLAMAsemanLaskennallisetAnturit">
    </wsdl:input>
      <wsdl:output name="HaeLAMAsemanLaskennallisetAnturitResponse" message="tns:HaeLAMAsemanLaskennallisetAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeArvovastaavuus">
      <wsdl:input name="HaeArvovastaavuus" message="tns:HaeArvovastaavuus">
    </wsdl:input>
      <wsdl:output name="HaeArvovastaavuusResponse" message="tns:HaeArvovastaavuusResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAsemanAnturiVakioArvot">
      <wsdl:input name="HaeAsemanAnturiVakioArvot" message="tns:HaeAsemanAnturiVakioArvot">
    </wsdl:input>
      <wsdl:output name="HaeAsemanAnturiVakioArvotResponse" message="tns:HaeAsemanAnturiVakioArvotResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMLaskennallinenAnturi">
      <wsdl:input name="HaeLAMLaskennallinenAnturi" message="tns:HaeLAMLaskennallinenAnturi">
    </wsdl:input>
      <wsdl:output name="HaeLAMLaskennallinenAnturiResponse" message="tns:HaeLAMLaskennallinenAnturiResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsemanLaskennallistenAntureidenTilat">
      <wsdl:input name="HaeLAMAsemanLaskennallistenAntureidenTilat" message="tns:HaeLAMAsemanLaskennallistenAntureidenTilat">
    </wsdl:input>
      <wsdl:output name="HaeLAMAsemanLaskennallistenAntureidenTilatResponse" message="tns:HaeLAMAsemanLaskennallistenAntureidenTilatResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiAnturiVakioArvot">
      <wsdl:input name="HaeKaikkiAnturiVakioArvot" message="tns:HaeKaikkiAnturiVakioArvot">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiAnturiVakioArvotResponse" message="tns:HaeKaikkiAnturiVakioArvotResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiArvovastaavuudet">
<wsdl:documentation>Palauttaa kaikki arvovastaavuudet. Arvovastaavuudella maaritetaan laskennallisen anturin arvovalin vastaavuus tekstuaaliseen kasitteeseen. Arvovastaavuus maarittelee myos arvovalin esitysvarin.</wsdl:documentation>
      <wsdl:input name="HaeKaikkiArvovastaavuudet" message="tns:HaeKaikkiArvovastaavuudet">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiArvovastaavuudetResponse" message="tns:HaeKaikkiArvovastaavuudetResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLAMAsemat">
      <wsdl:input name="HaeKaikkiLAMAsemat" message="tns:HaeKaikkiLAMAsemat">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiLAMAsematResponse" message="tns:HaeKaikkiLAMAsematResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturiVakio">
      <wsdl:input name="HaeAnturiVakio" message="tns:HaeAnturiVakio">
    </wsdl:input>
      <wsdl:output name="HaeAnturiVakioResponse" message="tns:HaeAnturiVakioResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAnturi">
      <wsdl:input name="HaeLAMAnturi" message="tns:HaeLAMAnturi">
    </wsdl:input>
      <wsdl:output name="HaeLAMAnturiResponse" message="tns:HaeLAMAnturiResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLAMLaskennallisetAnturit">
      <wsdl:input name="HaeKaikkiLAMLaskennallisetAnturit" message="tns:HaeKaikkiLAMLaskennallisetAnturit">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiLAMLaskennallisetAnturitResponse" message="tns:HaeKaikkiLAMLaskennallisetAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException" message="tns:LAMMetatiedotException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LAMMetatiedotServiceSoapBinding" type="tns:LAMMetatiedot">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HaeAsemanAnturiVakio">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeAsemanAnturiVakio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeAsemanAnturiVakioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturiVakioArvot">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeAnturiVakioArvot">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeAnturiVakioArvotResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLaskennallisenAnturinArvovastaavuudet">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLaskennallisenAnturinArvovastaavuudet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsema">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLAMAsema">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLAMAsemaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLAMAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiLAMAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiLAMAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsemanAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLAMAsemanAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLAMAsemanAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsemanLaskennallisetAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLAMAsemanLaskennallisetAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLAMAsemanLaskennallisetAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAsemanAnturiVakioArvot">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeAsemanAnturiVakioArvot">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeAsemanAnturiVakioArvotResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeArvovastaavuus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeArvovastaavuus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeArvovastaavuusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMLaskennallinenAnturi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLAMLaskennallinenAnturi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLAMLaskennallinenAnturiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAsemanLaskennallistenAntureidenTilat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLAMAsemanLaskennallistenAntureidenTilat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLAMAsemanLaskennallistenAntureidenTilatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiAnturiVakioArvot">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiAnturiVakioArvot">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiAnturiVakioArvotResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiArvovastaavuudet">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiArvovastaavuudet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiArvovastaavuudetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLAMAsemat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiLAMAsemat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiLAMAsematResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturiVakio">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeAnturiVakio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeAnturiVakioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLAMAnturi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLAMAnturi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLAMAnturiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLAMLaskennallisetAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiLAMLaskennallisetAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiLAMLaskennallisetAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="LAMMetatiedotException">
        <soap:fault name="LAMMetatiedotException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LAMMetatiedotService">
    <wsdl:port name="LAMMetatiedotPort" binding="tns:LAMMetatiedotServiceSoapBinding">
      <soap:address location="LAM_METADATA_WS_URL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
