src/main/resources/schemas/datex2/3_5/xml/DATEXII_3_Vms.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:vms="http://datex2.eu/schema/3/vms"
           version="3.5" targetNamespace="http://datex2.eu/schema/3/vms" xmlns:com="http://datex2.eu/schema/3/common"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_ColourEnum">
    <xs:simpleContent>
      <xs:extension base="vms:ColourEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_CompositePictogramEnum">
    <xs:simpleContent>
      <xs:extension base="vms:CompositePictogramEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DisplayedNumericalInformationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:DisplayedNumericalInformationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_GddServiceCategoryEnum">
    <xs:simpleContent>
      <xs:extension base="vms:GddServiceCategoryEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ImageFormatEnum">
    <xs:simpleContent>
      <xs:extension base="vms:ImageFormatEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InformationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:InformationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MultiPageDisplayPageNumberDisplayAreaSettings">
    <xs:sequence>
      <xs:element name="displayAreaSettings" type="vms:DisplayAreaSettings" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pageNumber" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_PictogramEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PictogramEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SupplementalPictogramEnum">
    <xs:simpleContent>
      <xs:extension base="vms:SupplementalPictogramEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TextDisplayLineIndexTextLine">
    <xs:sequence>
      <xs:element name="textLine" type="vms:TextLine" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="lineIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_UnitOfMeasureEnum">
    <xs:simpleContent>
      <xs:extension base="vms:UnitOfMeasureEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ColourEnum">
    <xs:annotation>
      <xs:documentation>Colours.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="amber">
        <xs:annotation>
          <xs:documentation>The colour amber.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blue">
        <xs:annotation>
          <xs:documentation>The colour blue.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="green">
        <xs:annotation>
          <xs:documentation>The colour green.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="red">
        <xs:annotation>
          <xs:documentation>The colour red.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="white">
        <xs:annotation>
          <xs:documentation>The colour white.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="whiteYellow">
        <xs:annotation>
          <xs:documentation>The colour white-yellow.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CompositePictogram">
    <xs:annotation>
      <xs:documentation>A composite pictogram representing a diagrammatic schema in association with an embedded regular sign.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:Pictogram">
        <xs:sequence>
          <xs:element name="pictogramDescription" type="vms:_CompositePictogramEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the displayed composed pictogram.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="regularPictogram" type="vms:RegularPictogram" />
          <xs:element name="_compositePictogramExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CompositePictogramEnum">
    <xs:annotation>
      <xs:documentation>Identifies a pictogram used only for building a composite pictogram</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="conditionOnCurrentSectionAfterNextExit">
        <xs:annotation>
          <xs:documentation>Deals with condition on current section after next exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="conditionAtNextExit">
        <xs:annotation>
          <xs:documentation>Deals with condition at next exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="conditionOnCurrentSectionAfterSecondtExit">
        <xs:annotation>
          <xs:documentation>Deals with condition on current section after second exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="conditionAtSecondExit">
        <xs:annotation>
          <xs:documentation>Deals with condition on current section at second exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictionOnCurrentSectionAfterNextExit">
        <xs:annotation>
          <xs:documentation>Deals with restriction on current section after next exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictionAtNextExit">
        <xs:annotation>
          <xs:documentation>Deals with restriction at next exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictionOnCurrentSectionAfterSecondExit">
        <xs:annotation>
          <xs:documentation>Deals with restriction on current section after second exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictionAtSecondtExit">
        <xs:annotation>
          <xs:documentation>Deals with restriction after second exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DisplayAreaSettings" abstract="true">
    <xs:annotation>
      <xs:documentation>A display of pictograms or text on one area on a VMS.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isBlank" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies whether this display area is blank. The absence of this attribute has no semantics.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legallyBinding" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The semantics of this display are legally binding for road users</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalBasis" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies any legal basis for the elements displayed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_displayAreaSettingsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayedNumericalInformation">
    <xs:annotation>
      <xs:documentation>Numerical information displayed on a sign</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numericalInformationType" type="vms:_DisplayedNumericalInformationTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of numerical information displayed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numericValue" type="com:Decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value displayed. In the special case where the unit of measure is feet and inches, the part of the number after the decimal separator is the number of inches.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitOfMeasure" type="vms:_UnitOfMeasureEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The unit of measure for the numeric value. This may be displayed or predefined for a type of sign.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_displayedNumericalInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DisplayedNumericalInformationTypeEnum">
    <xs:annotation>
      <xs:documentation>Type of numerical information displayed</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="distance">
        <xs:annotation>
          <xs:documentation>A distance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="height">
        <xs:annotation>
          <xs:documentation>A height e.g. for a vehicle height restriction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="length">
        <xs:annotation>
          <xs:documentation>A length e.g. for a vehicle length restriction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rateOfIncline">
        <xs:annotation>
          <xs:documentation>A rate of incline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sectionLength">
        <xs:annotation>
          <xs:documentation>A road section length</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="speed">
        <xs:annotation>
          <xs:documentation>A speed e.g. for a vehicle speed limit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="weight">
        <xs:annotation>
          <xs:documentation>A weight e.g. for a vehicle weight restriction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="weightPerAxle">
        <xs:annotation>
          <xs:documentation>An axle weight e.g. for an axle weight restriction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="width">
        <xs:annotation>
          <xs:documentation>A width e.g. for a vehicle width restriction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GddPictogramAttributes">
    <xs:annotation>
      <xs:documentation>ISO 14823 Graphic Data Dictionary attributes with textual or numeric data to supplement a pictogram identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributes" type="com:Base64Binary" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ISO 14823 "attributes" data frame which augments the basic identification of the type of pictogram with further textual or numeric data. The encoding shall follow unaligned packed encoding rules (UPER) [ISO/IEC 8825-2:2015]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_gddPictogramAttributesExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GddPictogramCategoryCode">
    <xs:annotation>
      <xs:documentation>A 3-digit code to identify a pictogram, as defined in ISO 14823 Graphic Data Dictionary. That standard is inconsistent in its definition of the value range; this model uses the more permissive definition where the bounds are 100 and 999.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger" />
  </xs:simpleType>
  <xs:complexType name="GddPictogramIdentification">
    <xs:annotation>
      <xs:documentation>Group of codes that uniquely identifies a kind of pictogram, according to the ISO 14823 Graphic Data Dictionary</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="country" type="com:CountryCode" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Country code used to either allow associating a country-specific rendering with the coded pictogram or distinguish nationally-defined pictogram codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceCategory" type="vms:_GddServiceCategoryEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Category used to group pictograms for a given usage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pictogramCategoryCode" type="vms:GddPictogramCategoryCode" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Code that identifies a pictogram for a given country and service category.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_gddPictogramIdentificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GddServiceCategoryEnum">
    <xs:annotation>
      <xs:documentation>Type of service offered by the pictogram, as defined in ISO 14823.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="dangerWarning">
        <xs:annotation>
          <xs:documentation>Danger warning sign information (GDD service category 11).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="regulatory">
        <xs:annotation>
          <xs:documentation>Informing of special obligations, restrictions or prohibitions (GDD service category 12).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="informative">
        <xs:annotation>
          <xs:documentation>Informative, advisory, or guiding (GDD service category 13).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="publicFacilities">
        <xs:annotation>
          <xs:documentation>Informing of a certain public facility and its service (GDD service category 21).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ambientConditions">
        <xs:annotation>
          <xs:documentation>Notifying of road-related ambient conditions and events on route (GDD service category 31).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadConditions">
        <xs:annotation>
          <xs:documentation>Notifying of road-related conditions and events on route (GDD service category 32).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GddStructure">
    <xs:annotation>
      <xs:documentation>Graphic Data Dictionary structure, to identify a pictogram by code and optional supplementary attributes</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gddPictogramIdentification" type="vms:GddPictogramIdentification" />
      <xs:element name="gddPictogramAttributes" type="vms:GddPictogramAttributes" minOccurs="0" />
      <xs:element name="_gddStructureExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:annotation>
      <xs:documentation>An image, with encoded data and identification of format</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="imageData" type="com:Base64Binary" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Encoded image data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="imageFormat" type="vms:_ImageFormatEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the image format of the associated image data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_imageExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ImageFormatEnum">
    <xs:annotation>
      <xs:documentation>Identifies an image format</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="bmp">
        <xs:annotation>
          <xs:documentation>The bmp image format</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gif">
        <xs:annotation>
          <xs:documentation>The gif image format</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="jpeg">
        <xs:annotation>
          <xs:documentation>The jpeg image format</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="png">
        <xs:annotation>
          <xs:documentation>The png image format</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tiff">
        <xs:annotation>
          <xs:documentation>The TIFF image format</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InformationTypeEnum">
    <xs:annotation>
      <xs:documentation>Type of text characterisation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="situationInformation">
        <xs:annotation>
          <xs:documentation>Information about the situation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="warning">
        <xs:annotation>
          <xs:documentation>The information is a warning</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prohibition">
        <xs:annotation>
          <xs:documentation>The information is a prohibition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obligation">
        <xs:annotation>
          <xs:documentation>The information is an obligation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="destination">
        <xs:annotation>
          <xs:documentation>The information is a destination</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="travelTime">
        <xs:annotation>
          <xs:documentation>The information is travel time</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="delay">
        <xs:annotation>
          <xs:documentation>Delay information</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="location">
        <xs:annotation>
          <xs:documentation>Location information</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicleType">
        <xs:annotation>
          <xs:documentation>The information is about vehicle type</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="generalInformation">
        <xs:annotation>
          <xs:documentation>General information</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blank">
        <xs:annotation>
          <xs:documentation>There is no information content</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other kind of information</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MultiPageDisplay">
    <xs:annotation>
      <xs:documentation>A display of multiple pages, sequentially displayed in order of their "pageNumber".</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="sequenceGroupNumber" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Where MultiPageDisplay instances have the same sequenceGroupNumber, the timed progression through their pages is synchronised.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="displayAreaSettings" type="vms:_MultiPageDisplayPageNumberDisplayAreaSettings" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_multiPageDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Pictogram" abstract="true">
    <xs:annotation>
      <xs:documentation>A main pictogram displayable on the VMS panel. Note a main pictogram may have an associated supplementary panel which may itself contain a further pictogram and line of text.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="customPictogramCode" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If a custom code list (not based on GDD) is being used, this is the code of the pictogram using the pictogram code list identified in the corresponding PictogramDisplayArea object</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Additional description of the pictogram.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pictogramFlashing" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indication of whether the pictogram is flashing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pictogramInInverseColour" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The pictogram is displayed in inverse colour (i.e. the colours are the inverse of normal).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="viennaConventionCompliant" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates that the displayed pictogram conforms with the Vienna Convention defined pictogram list as modified by "UNECE Consolidated Resolution on Road Signs and Signals".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pictogramInformationType" type="vms:_InformationTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Allows characterising the type of displayed information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gddStructure" type="vms:GddStructure" minOccurs="0" />
      <xs:element name="_pictogramExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PictogramDisplay">
    <xs:annotation>
      <xs:documentation>A display of a pictogram on one area on a VMS, potentially with associated supplemental information or instructions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="isPrimaryPictogram" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indicates if the given pictogram display area is considered as the primary pictogram (= True) or not (= False).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pictogram" type="vms:Pictogram" />
          <xs:element name="supplementaryInformationDisplay" type="vms:SupplementaryInformationDisplay" minOccurs="0" />
          <xs:element name="image" type="vms:Image" minOccurs="0" />
          <xs:element name="_pictogramDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PictogramEnum">
    <xs:annotation>
      <xs:documentation>Types of pictogram not currently covered by ISO 14823 Graphic Data Dictionary</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="blankVoid">
        <xs:annotation>
          <xs:documentation>Blank or void.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bridgeClosed">
        <xs:annotation>
          <xs:documentation>Bridge closed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="carParkFull">
        <xs:annotation>
          <xs:documentation>Car park full.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="carParkSpacesAvailable">
        <xs:annotation>
          <xs:documentation>Spaces available in car park.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="corridorForEmergencyVehicleAccess">
        <xs:annotation>
          <xs:documentation>Corridor for emergency vehicle access</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="curveArrowToLeft">
        <xs:annotation>
          <xs:documentation>Single curve arrow to the left corresponding to an exit (without fork).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="curveArrowToRight">
        <xs:annotation>
          <xs:documentation>Single curve arrow to the right corresponding to an exit (without fork).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dangerOfFire">
        <xs:annotation>
          <xs:documentation>Danger of fire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doubleExitToLeft">
        <xs:annotation>
          <xs:documentation>Triple arrow corresponding to two sequential exits to the left.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doubleExitToRight">
        <xs:annotation>
          <xs:documentation>Triple arrow corresponding to two sequential exits to the right.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="endOfAdvisorySpeed">
        <xs:annotation>
          <xs:documentation>End of advisory speed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fastenChildrensSeatBelts">
        <xs:annotation>
          <xs:documentation>Fasten the seat belts of children.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fastenYourSeatBelt">
        <xs:annotation>
          <xs:documentation>Fasten your seat belt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fire">
        <xs:annotation>
          <xs:documentation>Fire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="footballMatch">
        <xs:annotation>
          <xs:documentation>Football match (current or anticipated disruption due to football match).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hardShoulderNotRunning">
        <xs:annotation>
          <xs:documentation>The hard shoulder is not being used as a regular traffic lane but is reserved as a hard shoulder.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hardShoulderRunning">
        <xs:annotation>
          <xs:documentation>The hard shoulder is being used as a regular traffic lane i.e. the lane is not acting as a hard shoulder.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="horizontalDiversionToLeft">
        <xs:annotation>
          <xs:documentation>Correspond to the horizontal orange (to the left) sign for diversion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="horizontalDiversionToRight">
        <xs:annotation>
          <xs:documentation>Correspond to the horizontal orange (to the right) sign for diversion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="keepASafeDistance">
        <xs:annotation>
          <xs:documentation>Keep a safe distance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="keepLeft">
        <xs:annotation>
          <xs:documentation>Keep left.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="keepRight">
        <xs:annotation>
          <xs:documentation>Keep right.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lane1ClosedOf2">
        <xs:annotation>
          <xs:documentation>Lane 1 closed on a 2 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lane2ClosedOf2">
        <xs:annotation>
          <xs:documentation>Lane 2 closed on a 2 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lane1ClosedOf3">
        <xs:annotation>
          <xs:documentation>Lane 1 closed on a 3 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lane3ClosedOf3">
        <xs:annotation>
          <xs:documentation>Lane 3 closed on a 3 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanes1And2ClosedOf3">
        <xs:annotation>
          <xs:documentation>Lanes 1 and 2 closed on a 3 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanes2And3ClosedOf3">
        <xs:annotation>
          <xs:documentation>Lanes 2 and 3 closed on a 3 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lane1ClosedOf4">
        <xs:annotation>
          <xs:documentation>Lane 1 closed on a 4 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lane4ClosedOf4">
        <xs:annotation>
          <xs:documentation>Lane 4 closed on a 4 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanes1And2ClosedOf4">
        <xs:annotation>
          <xs:documentation>Lanes 1 and 2 closed on a 4 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanes3And4ClosedOf4">
        <xs:annotation>
          <xs:documentation>Lanes 3 and 4 closed on a 4 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanes1And2And3ClosedOf4">
        <xs:annotation>
          <xs:documentation>Lanes 1, 2 and 3 closed on a 4 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanes2And3And4ClosedOf4">
        <xs:annotation>
          <xs:documentation>Lanes 2, 3 and 4 closed on a 4 lane carriageway. Lanes numbered from nearside (next to hard shoulder on motorway) to central median.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leftHandLaneClosed">
        <xs:annotation>
          <xs:documentation>Left-hand lane closed ahead.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="narrowLanesAhead">
        <xs:annotation>
          <xs:documentation>Narrow lanes ahead.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obliqueArrowToLeft">
        <xs:annotation>
          <xs:documentation>Single oblique straight arrow to the left corresponding to an exit (without fork).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obliqueArrowToRight">
        <xs:annotation>
          <xs:documentation>Single oblique straight arrow to the right corresponding to an exit (without fork).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pollutionOrSmogAlert">
        <xs:annotation>
          <xs:documentation>Pollution or smog alert.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rightHandLaneClosed">
        <xs:annotation>
          <xs:documentation>Right-hand lane closed ahead.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleExitToLeft">
        <xs:annotation>
          <xs:documentation>Double arrow corresponding to a single exit to the left.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleExitToRight">
        <xs:annotation>
          <xs:documentation>Double arrow corresponding to a single exit to the right.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="smoke">
        <xs:annotation>
          <xs:documentation>Smoke.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snowPloughInAction">
        <xs:annotation>
          <xs:documentation>Snow plough(s) in action.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="speedCamerasInAction">
        <xs:annotation>
          <xs:documentation>Speed cameras in action.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="straightVerticalArrow">
        <xs:annotation>
          <xs:documentation>Straight vertical arrow (towards top).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficDeviatedToOppositeCarriagewayAhead">
        <xs:annotation>
          <xs:documentation>All traffic is diverted to the opposite carriageway ahead in a contraflow layout.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficPartiallyDeviatedToOppositeCarriagewayAhead">
        <xs:annotation>
          <xs:documentation>Traffic is partially diverted to the opposite carriageway ahead in a contraflow layout.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tunnelClosed">
        <xs:annotation>
          <xs:documentation>Tunnel closed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="verticalDiversion">
        <xs:annotation>
          <xs:documentation>Correspond to the vertical orange sign for diversion.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegularPictogram">
    <xs:annotation>
      <xs:documentation>A regular pictogram displayable on a VMS panel.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:Pictogram">
        <xs:sequence>
          <xs:element name="pictogramDescription" type="vms:_PictogramEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Description of the pictogram.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="presenceOfRedTriangle" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indication of the presence of a red triangle around the pictogram, often used to indicate imminence, typically within 2 km, of signed danger.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="displayedNumericalInformation" type="vms:DisplayedNumericalInformation" minOccurs="0" maxOccurs="2" />
          <xs:element name="_regularPictogramExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SupplementalPictogramEnum">
    <xs:annotation>
      <xs:documentation>Types of pictograms displayable in supplementary panels (normally below the main pictogram display which it qualifies).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="distanceToTheBeginningOfTheApplicationZone">
        <xs:annotation>
          <xs:documentation>Distance to the beginning of the application zone.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exceptAnyPowerDrivenVehicleDrawingTrailer">
        <xs:annotation>
          <xs:documentation>Except any power-driven vehicle drawing a trailer.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exceptBus">
        <xs:annotation>
          <xs:documentation>Except for buses.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exceptGoodsVehicles">
        <xs:annotation>
          <xs:documentation>Except for goods vehicles.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exceptSemitrailer">
        <xs:annotation>
          <xs:documentation>Except for semitrailers (i.e. any trailer designed to be coupled to a motor vehicle in such a way that part of its weight and that of its load is borne by the motor vehicle).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exceptVehiclesCarryingDangerousGoods">
        <xs:annotation>
          <xs:documentation>Except for vehicles carrying dangerous goods (i.e. for which special sign plating is prescribed).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inCaseOfIceOrSnow">
        <xs:annotation>
          <xs:documentation>In case of ice or snow.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lengthOfTheApplicationZone">
        <xs:annotation>
          <xs:documentation>Length of the applicable zone.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToAnyPowerDrivenVehicleDrawingTrailer">
        <xs:annotation>
          <xs:documentation>Restricted to any power driven vehicle drawing a trailer.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToBus">
        <xs:annotation>
          <xs:documentation>Restricted to buses.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToGoodsVehicles">
        <xs:annotation>
          <xs:documentation>Restricted to goods vehicles.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToSemiTrailer">
        <xs:annotation>
          <xs:documentation>Restricted to semi trailers (i.e. any trailer designed to be coupled to a motor vehicle in such a way that part of its weight and that of its load is borne by the motor vehicle).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restrictedToVehiclesCarryingDangerousGoods">
        <xs:annotation>
          <xs:documentation>Restricted to vehicles carrying dangerous goods (i.e. for which special sign plating is prescribed).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maintenanceVehicles">
        <xs:annotation>
          <xs:documentation>Maintenance vehicles.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snowPloughs">
        <xs:annotation>
          <xs:documentation>Snow ploughs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryInformationDisplay" abstract="true">
    <xs:annotation>
      <xs:documentation>A display of information or a regulatory instruction which is supplemental to the associated pictogram, comprising either an additional line of text or a pictogram or both.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="_supplementaryInformationDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupplementaryPictogram">
    <xs:annotation>
      <xs:documentation>An additional pictogram that is displayed in the panel which is supplemental to the associated pictogram display.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:SupplementaryInformationDisplay">
        <xs:sequence>
          <xs:element name="pictogramDescription" type="vms:_SupplementalPictogramEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the displayed supplementary pictogram.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pictogramCode" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The code of the supplementary pictogram from the supplementary pictogram code list referenced in the corresponding SupplementaryPanelArea.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pictogramUrl" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Reference to a URL from where an image of the displayed supplementary pictogram can be obtained.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="additionalDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Additional free text description of the supplementary pictogram.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pictogramFlashing" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indication of whether the pictogram is flashing.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pictogramInformationType" type="vms:_InformationTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Allows characterising the type of displayed information</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_supplementaryPictogramExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupplementaryText">
    <xs:annotation>
      <xs:documentation>Text used in a supplementary display associated with a pictogram</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:SupplementaryInformationDisplay">
        <xs:sequence>
          <xs:element name="textLine" type="vms:TextLine">
            <xs:annotation>
              <xs:documentation>One line of text displayed in the panel which is supplemental to the pictogram display.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_supplementaryTextExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextDisplay">
    <xs:annotation>
      <xs:documentation>A page of text (comprising one or more ordered lines) that are displayed simultaneously on the VMS. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="textCode" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The code of the specific text, from the defined code list.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="textImageUrl" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Reference to a URL from where an image of the displayed text can be obtained.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="textLine" type="vms:_TextDisplayLineIndexTextLine" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_textDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextLine">
    <xs:annotation>
      <xs:documentation>A single line of text displayed on a text display area or supplementary panel or corresponding to a displayed text. It may correspond to the entire text in the case that text segmentation in lines is not available.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textLine" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A free-text string that is displayed on a single line on the text display area. It may correspond to the entire text in the case that text segmentation in lines is not available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineColour" type="vms:_ColourEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The colour of the displayed text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineFlashing" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indication of whether the displayed text is flashing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineHtml" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The displayed line of text defined by an HTML string showing text formatting tags.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isExactTextOnSign" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Confirms whether the specified text is exactly as displayed, or whether it is just a semantic equivalent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="textInformationType" type="vms:_InformationTypeEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Allows characterising the type of displayed information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_textLineExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="lineLanguage" type="com:Language" use="optional">
      <xs:annotation>
        <xs:documentation>The language of the displayed text, specified by an ISO 639-1 language code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="UnitOfMeasureEnum">
    <xs:annotation>
      <xs:documentation>Identifies a unit of measure for a physical quantity</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="feet">
        <xs:annotation>
          <xs:documentation>The imperial unit feet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="feetAndInches">
        <xs:annotation>
          <xs:documentation>The imperial units feet and inches</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="kilometres">
        <xs:annotation>
          <xs:documentation>The metric unit kilometres</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="kilometresPerHour">
        <xs:annotation>
          <xs:documentation>The unit kilometres per hour</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="metres">
        <xs:annotation>
          <xs:documentation>The metric unit metres</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="miles">
        <xs:annotation>
          <xs:documentation>The imperial unit miles</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="milesPerHour">
        <xs:annotation>
          <xs:documentation>The unit miles per hour</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="percentage">
        <xs:annotation>
          <xs:documentation>A percentage</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tonnes">
        <xs:annotation>
          <xs:documentation>The metric unit tonnes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yards">
        <xs:annotation>
          <xs:documentation>The imperial unit yards</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
