src/main/resources/wsdl/20160527/v1/TiesaaMetatiedot.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TiesaaPerustiedot_v1" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2014/03/06"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2014/03/06"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>Tiesaaasemien perustietojen haku, muokkaus ja lisays.</wsdl:documentation>
  <wsdl:types>
<xs:schema xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06" xmlns:tns="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2014/03/06" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2014/03/06">
  <xs:import namespace="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06"/>
  <xs:element name="HaeAnturi" type="tns:HaeAnturi"/>
  <xs:element name="HaeAnturiResponse" type="tns:HaeAnturiResponse"/>
  <xs:element name="HaeAnturisanoma" type="tns:HaeAnturisanoma"/>
  <xs:element name="HaeAnturisanomaResponse" type="tns:HaeAnturisanomaResponse"/>
  <xs:element name="HaeArvovastaavuus" type="tns:HaeArvovastaavuus"/>
  <xs:element name="HaeArvovastaavuusResponse" type="tns:HaeArvovastaavuusResponse"/>
  <xs:element name="HaeKaikkiAnturisanomat" type="tns:HaeKaikkiAnturisanomat"/>
  <xs:element name="HaeKaikkiAnturisanomatResponse" type="tns:HaeKaikkiAnturisanomatResponse"/>
  <xs:element name="HaeKaikkiArvovastaavuudet" type="tns:HaeKaikkiArvovastaavuudet"/>
  <xs:element name="HaeKaikkiArvovastaavuudetResponse" type="tns:HaeKaikkiArvovastaavuudetResponse"/>
  <xs:element name="HaeKaikkiLaskennallisetAnturit" type="tns:HaeKaikkiLaskennallisetAnturit"/>
  <xs:element name="HaeKaikkiLaskennallisetAnturitResponse" type="tns:HaeKaikkiLaskennallisetAnturitResponse"/>
  <xs:element name="HaeKaikkiTiesaaAsemat" type="tns:HaeKaikkiTiesaaAsemat"/>
  <xs:element name="HaeKaikkiTiesaaAsematResponse" type="tns:HaeKaikkiTiesaaAsematResponse"/>
  <xs:element name="HaeLaskennallinenAnturi" type="tns:HaeLaskennallinenAnturi"/>
  <xs:element name="HaeLaskennallinenAnturiResponse" type="tns:HaeLaskennallinenAnturiResponse"/>
  <xs:element name="HaeLaskennallisenAnturinArvovastaavuudet" type="tns:HaeLaskennallisenAnturinArvovastaavuudet"/>
  <xs:element name="HaeLaskennallisenAnturinArvovastaavuudetResponse" type="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse"/>
  <xs:element name="HaeTiesaaAsema" type="tns:HaeTiesaaAsema"/>
  <xs:element name="HaeTiesaaAsemaResponse" type="tns:HaeTiesaaAsemaResponse"/>
  <xs:element name="HaeTiesaaAsemanAnturit" type="tns:HaeTiesaaAsemanAnturit"/>
  <xs:element name="HaeTiesaaAsemanAnturitResponse" type="tns:HaeTiesaaAsemanAnturitResponse"/>
  <xs:element name="HaeTiesaaAsemanLaskennallisetAnturit" type="tns:HaeTiesaaAsemanLaskennallisetAnturit"/>
  <xs:element name="HaeTiesaaAsemanLaskennallisetAnturitResponse" type="tns:HaeTiesaaAsemanLaskennallisetAnturitResponse"/>
  <xs:element name="HaeTiesaaAsemanLaskennallistenAntureidenTilat" type="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilat"/>
  <xs:element name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse" type="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse"/>
  <xs:element name="HaeTiesaaAsemat" type="tns:HaeTiesaaAsemat"/>
  <xs:element name="HaeTiesaaAsematResponse" type="tns:HaeTiesaaAsematResponse"/>
  <xs:complexType name="HaeKaikkiArvovastaavuudet">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiArvovastaavuudetResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="arvovastaavuus" type="tns:arvoVastaavuusVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="arvoVastaavuusVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractArvoVastaavuusVO">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractArvoVastaavuusVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="b" type="xs:int"/>
          <xs:element minOccurs="0" name="g" type="xs:int"/>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="laskennallinenAnturiId" type="xs:long"/>
          <xs:element minOccurs="0" name="max" type="xs:decimal"/>
          <xs:element minOccurs="0" name="min" type="xs:decimal"/>
          <xs:element minOccurs="0" name="r" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="luonut" type="xs:string"/>
      <xs:element minOccurs="0" name="luotu" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="muokattu" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="muokkaaja" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturisanoma">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturisanomaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="anturisanoma" type="tns:anturiSanomaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anturiSanomaVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractAnturiSanomaVO">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractAnturiSanomaVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="max" type="xs:int"/>
          <xs:element minOccurs="0" name="min" type="xs:int"/>
          <xs:element minOccurs="0" name="sanomaAvain" type="xs:string"/>
          <xs:element minOccurs="0" name="yksikko" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeArvovastaavuus">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeArvovastaavuusResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arvovastaavuus" type="tns:arvoVastaavuusVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsema">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tiesaaAsema" type="tns:tiesaaAsemaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAsemaVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractTiesaaAsemaVO">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractTiesaaAsemaVO">
    <xs:complexContent>
      <xs:extension base="ns1:havaintoAsemaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="aliasemaId" type="xs:int"/>
          <xs:element minOccurs="0" name="antureillaKaapelikaivo" type="xs:boolean"/>
          <xs:element minOccurs="0" name="antureillaPutkitukset" type="xs:boolean"/>
          <xs:element minOccurs="0" name="anturiliitantaHuoltotarranMerkinnat" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantaSarjanumero" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantaValmistusviikko" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantaValmistusvuosi" type="xs:string"/>
          <xs:element minOccurs="0" name="anturiliitantayksikko" type="xs:string"/>
          <xs:element minOccurs="0" name="ip" type="xs:string"/>
          <xs:element minOccurs="0" name="julkinen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="kaapelikaivonKunto" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikko" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonHuoltotarranMerkinnat" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonSarjanumero" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonValmistusviikko" type="xs:string"/>
          <xs:element minOccurs="0" name="kehikonValmistusvuosi" type="xs:string"/>
          <xs:element minOccurs="0" name="lisakuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="master" type="xs:boolean"/>
          <xs:element minOccurs="0" name="merkittavyys" type="xs:string"/>
          <xs:element minOccurs="0" name="portti" type="xs:int"/>
          <xs:element minOccurs="0" name="putkienMateriaali" type="xs:string"/>
          <xs:element minOccurs="0" name="tyyppi" type="tns:tiesaaAsemaTyyppi"/>
          <xs:element minOccurs="0" name="ymparistoKuvaus" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="laiteSijainnillaVO">
    <xs:complexContent>
      <xs:extension base="tns:laiteVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="korkeus" type="xs:decimal"/>
          <xs:element minOccurs="0" name="latitudi" type="xs:decimal"/>
          <xs:element minOccurs="0" name="longitudi" type="xs:decimal"/>
          <xs:element minOccurs="0" name="tieosoite" type="ns1:tieosoiteVO"/>
          <xs:element minOccurs="0" name="tieosoiteId" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="laiteVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
          <xs:element minOccurs="0" name="takuunPaattymisPvm" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallinenAnturi">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallinenAnturiResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="laskennallinenAnturi" type="tns:tiesaaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaLaskennallinenAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractLaskennallinenAnturiVO">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractLaskennallinenAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="b" type="xs:int"/>
          <xs:element minOccurs="0" name="g" type="xs:int"/>
          <xs:element minOccurs="0" name="kuvaus" type="xs:string"/>
          <xs:element minOccurs="0" name="laskentaKaava" type="xs:string"/>
          <xs:element minOccurs="0" name="lyhytNimi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimi" type="xs:string"/>
          <xs:element minOccurs="0" name="r" type="xs:int"/>
          <xs:element minOccurs="0" name="tarkkuus" type="xs:int"/>
          <xs:element minOccurs="0" name="vanhaId" type="xs:int"/>
          <xs:element minOccurs="0" name="yksikko" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiTiesaaAsemat">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiTiesaaAsematResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tiesaaAsema" type="tns:tiesaaAsemaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiAnturisanomat">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiAnturisanomatResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="anturisanoma" type="tns:anturiSanomaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturi">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeAnturiResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tiesaaAnturi" type="tns:tiesaaAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:laiteVO">
        <xs:sequence>
          <xs:element name="anturityyppiId" type="xs:long"/>
          <xs:element minOccurs="0" name="asennusPvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="huoltoJohto" type="xs:boolean"/>
          <xs:element minOccurs="0" name="huoltotarranMerkinnat" type="xs:string"/>
          <xs:element minOccurs="0" name="kalibrointiPvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="korkeus" type="xs:int"/>
          <xs:element minOccurs="0" name="poistoPvm" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="sarjanumero" type="xs:string"/>
          <xs:element name="tiesaaAsemaId" type="xs:long"/>
          <xs:element minOccurs="0" name="valmistusViikko" type="xs:int"/>
          <xs:element minOccurs="0" name="valmistusVuosi" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLaskennallisetAnturit">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="HaeKaikkiLaskennallisetAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="laskennallinenAnturi" type="tns:tiesaaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallisenAnturinArvovastaavuudet">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="arvovastaavuus" type="tns:arvoVastaavuusVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asemaId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tilat" type="tns:tiesaaAsemaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAsemaLaskennallinenAnturiVO">
    <xs:complexContent>
      <xs:extension base="tns:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="asemaId" type="xs:long"/>
          <xs:element minOccurs="0" name="laskennallinenAnturiId" type="xs:long"/>
          <xs:element minOccurs="0" name="tila" type="tns:tilaTyyppi"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemat">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="parametrit" type="tns:tiesaaAsemaHakuparametrit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiesaaAsemaHakuparametrit">
    <xs:sequence>
      <xs:element minOccurs="0" name="kunta" type="xs:string"/>
      <xs:element minOccurs="0" name="maa" type="xs:string"/>
      <xs:element minOccurs="0" name="maakunta" type="xs:string"/>
      <xs:element minOccurs="0" name="tienumero" type="xs:int"/>
      <xs:element minOccurs="0" name="tieosa" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsematResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tiesaaAsema" type="tns:tiesaaAsemaVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallisetAnturit">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanLaskennallisetAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="laskennallinenAnturi" type="tns:tiesaaLaskennallinenAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanAnturit">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaeTiesaaAsemanAnturitResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="tiesaaAnturi" type="tns:tiesaaAnturiVO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="virhekoodi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TIESAATIETOJA_EI_LOYDY"/>
      <xs:enumeration value="KAYTOSSA_OLEVAA_OBJEKTIA_EI_VOI_POISTAA"/>
      <xs:enumeration value="KOKOONPAANON_YHDISTETTYA_LASKENNALLISTA_ANTURIA_EI_VOI_POISTAA"/>
      <xs:enumeration value="MUU_VIRHE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tiesaaAsemaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ROSA"/>
      <xs:enumeration value="E18"/>
      <xs:enumeration value="ISGN"/>
      <xs:enumeration value="OLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tilaTyyppi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OK_VIKAEPAILY_PERUUTETTU"/>
      <xs:enumeration value="VIKAEPAILY"/>
      <xs:enumeration value="VIKA_VAHVISTETTU"/>
      <xs:enumeration value="VIKA_VAHVISTETTU_EI_KORJATA_LAHIAIKOINA"/>
      <xs:enumeration value="KORJAUSPYYNTO_LAHETETTY"/>
      <xs:enumeration value="KORJAUSHUOLTO_TEHTY"/>
      <xs:enumeration value="KORJAUS_KESKEYTETTY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="keruunTILA">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KERUUSSA"/>
      <xs:enumeration value="POISTETTU_TILAPAISESTI"/>
      <xs:enumeration value="POISTETTU_PYSYVASTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tiesaatiedotVirhe" type="tns:tiesaatiedotVirhe"/>
  <xs:complexType name="tiesaatiedotVirhe">
    <xs:sequence>
      <xs:element name="virhekoodi" nillable="true" type="tns:virhekoodi"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2014/03/06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.livi.fi/wsdl/LOTJU/metatiedot/2014/03/06" version="1.0">

  <xs:import namespace="http://ws.livi.fi/wsdl/LOTJU/tiesaa/2014/03/06"/>

  <xs:complexType abstract="true" name="havaintoAsemaVO">
    <xs:complexContent>
      <xs:extension base="ns1:laiteSijainnillaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="aikakatkaisu" type="xs:int"/>
          <xs:element minOccurs="0" name="aikavyohyke" type="xs:string"/>
          <xs:element minOccurs="0" name="aliverkonPeite" type="xs:string"/>
          <xs:element minOccurs="0" name="alkamisPaiva" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="asemanSijainti" type="xs:string"/>
          <xs:element minOccurs="0" name="asemanTila" type="ns1:tilaTyyppi"/>
          <xs:element minOccurs="0" name="huoltoPuutteet" type="xs:string"/>
          <xs:element minOccurs="0" name="huoltolevikkeenEtaisyysAsemasta" type="xs:int"/>
          <xs:element minOccurs="0" name="keruuVali" type="xs:int"/>
          <xs:element minOccurs="0" name="keruunTila" type="ns1:keruunTILA"/>
          <xs:element minOccurs="0" name="korjaushuolto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="kunta" type="xs:string"/>
          <xs:element minOccurs="0" name="kuntaKoodi" type="xs:string"/>
          <xs:element minOccurs="0" name="laitekaappiId" type="xs:string"/>
          <xs:element minOccurs="0" name="lisatieto" type="xs:string"/>
          <xs:element minOccurs="0" name="liviId" type="xs:string"/>
          <xs:element minOccurs="0" name="maa" type="xs:string"/>
          <xs:element minOccurs="0" name="maakunta" type="xs:string"/>
          <xs:element minOccurs="0" name="maakuntaKoodi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiEn" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiFi" type="xs:string"/>
          <xs:element minOccurs="0" name="nimiSe" type="xs:string"/>
          <xs:element minOccurs="0" name="ohjelmistoversio" type="xs:string"/>
          <xs:element minOccurs="0" name="paattymisPaiva" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="riittavanKokoinenHuoltolevike" type="xs:boolean"/>
          <xs:element minOccurs="0" name="vanhaId" type="xs:int"/>
          <xs:element minOccurs="0" name="verkkolaiteId" type="xs:string"/>
          <xs:element minOccurs="0" name="vuosihuolto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="yhdyskaytava" type="xs:string"/>
          <xs:element minOccurs="0" name="yhteysTapa" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tieosoiteVO">
    <xs:complexContent>
      <xs:extension base="ns1:abstractVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ajorata" type="xs:int"/>
          <xs:element minOccurs="0" name="etaisyysTieosanAlusta" type="xs:int"/>
          <xs:element minOccurs="0" name="puoli" type="xs:int"/>
          <xs:element minOccurs="0" name="tienHoitoluokka" type="xs:string"/>
          <xs:element minOccurs="0" name="tienumero" type="xs:int"/>
          <xs:element minOccurs="0" name="tieosa" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="HaeKaikkiAnturisanomatResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiAnturisanomatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLaskennallinenAnturiResponse">
    <wsdl:part name="parameters" element="tns:HaeLaskennallinenAnturiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiArvovastaavuudetResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiArvovastaavuudetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemanLaskennallisetAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemanLaskennallisetAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturi">
    <wsdl:part name="parameters" element="tns:HaeAnturi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsematResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsematResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeArvovastaavuus">
    <wsdl:part name="parameters" element="tns:HaeArvovastaavuus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturisanoma">
    <wsdl:part name="parameters" element="tns:HaeAnturisanoma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLaskennallinenAnturi">
    <wsdl:part name="parameters" element="tns:HaeLaskennallinenAnturi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLaskennallisetAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLaskennallisetAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemat">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeArvovastaavuusResponse">
    <wsdl:part name="parameters" element="tns:HaeArvovastaavuusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiTiesaaAsematResponse">
    <wsdl:part name="parameters" element="tns:HaeKaikkiTiesaaAsematResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
    <wsdl:part name="parameters" element="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsema">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsema">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiLaskennallisetAnturit">
    <wsdl:part name="parameters" element="tns:HaeKaikkiLaskennallisetAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturiResponse">
    <wsdl:part name="parameters" element="tns:HaeAnturiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemanLaskennallisetAnturit">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemanLaskennallisetAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemaResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TiesaaException">
    <wsdl:part name="TiesaaException" element="tns:tiesaatiedotVirhe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeAnturisanomaResponse">
    <wsdl:part name="parameters" element="tns:HaeAnturisanomaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiAnturisanomat">
    <wsdl:part name="parameters" element="tns:HaeKaikkiAnturisanomat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeLaskennallisenAnturinArvovastaavuudet">
    <wsdl:part name="parameters" element="tns:HaeLaskennallisenAnturinArvovastaavuudet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemanAnturitResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemanAnturitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiArvovastaavuudet">
    <wsdl:part name="parameters" element="tns:HaeKaikkiArvovastaavuudet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeKaikkiTiesaaAsemat">
    <wsdl:part name="parameters" element="tns:HaeKaikkiTiesaaAsemat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemanAnturit">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemanAnturit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
    <wsdl:part name="parameters" element="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TiesaaPerustiedotEndpoint">
    <wsdl:operation name="HaeKaikkiArvovastaavuudet">
<wsdl:documentation>Palauttaa kaikki arvovastaavuudet. Arvovastaavuudella maaritetaan laskennallisen anturin arvovalin vastaavuus tekstuaaliseen kasitteeseen. Arvovastaavuus maarittelee myos arvovalin esitysvarin.</wsdl:documentation>
      <wsdl:input name="HaeKaikkiArvovastaavuudet" message="tns:HaeKaikkiArvovastaavuudet">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiArvovastaavuudetResponse" message="tns:HaeKaikkiArvovastaavuudetResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturisanoma">
      <wsdl:input name="HaeAnturisanoma" message="tns:HaeAnturisanoma">
    </wsdl:input>
      <wsdl:output name="HaeAnturisanomaResponse" message="tns:HaeAnturisanomaResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeArvovastaavuus">
      <wsdl:input name="HaeArvovastaavuus" message="tns:HaeArvovastaavuus">
    </wsdl:input>
      <wsdl:output name="HaeArvovastaavuusResponse" message="tns:HaeArvovastaavuusResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsema">
      <wsdl:input name="HaeTiesaaAsema" message="tns:HaeTiesaaAsema">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemaResponse" message="tns:HaeTiesaaAsemaResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLaskennallinenAnturi">
      <wsdl:input name="HaeLaskennallinenAnturi" message="tns:HaeLaskennallinenAnturi">
    </wsdl:input>
      <wsdl:output name="HaeLaskennallinenAnturiResponse" message="tns:HaeLaskennallinenAnturiResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiTiesaaAsemat">
      <wsdl:input name="HaeKaikkiTiesaaAsemat" message="tns:HaeKaikkiTiesaaAsemat">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiTiesaaAsematResponse" message="tns:HaeKaikkiTiesaaAsematResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiAnturisanomat">
      <wsdl:input name="HaeKaikkiAnturisanomat" message="tns:HaeKaikkiAnturisanomat">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiAnturisanomatResponse" message="tns:HaeKaikkiAnturisanomatResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturi">
      <wsdl:input name="HaeAnturi" message="tns:HaeAnturi">
    </wsdl:input>
      <wsdl:output name="HaeAnturiResponse" message="tns:HaeAnturiResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLaskennallisetAnturit">
<wsdl:documentation>Palauttaa kaikki laskennalliset anturit. Laskennallinen anturi maarittelee arvolle yksikon ja nimen. Laskennallisen anturin tunniste sisaltyy tiesaatietovirran tietosisaltoon. </wsdl:documentation>
      <wsdl:input name="HaeKaikkiLaskennallisetAnturit" message="tns:HaeKaikkiLaskennallisetAnturit">
    </wsdl:input>
      <wsdl:output name="HaeKaikkiLaskennallisetAnturitResponse" message="tns:HaeKaikkiLaskennallisetAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLaskennallisenAnturinArvovastaavuudet">
      <wsdl:input name="HaeLaskennallisenAnturinArvovastaavuudet" message="tns:HaeLaskennallisenAnturinArvovastaavuudet">
    </wsdl:input>
      <wsdl:output name="HaeLaskennallisenAnturinArvovastaavuudetResponse" message="tns:HaeLaskennallisenAnturinArvovastaavuudetResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
      <wsdl:input name="HaeTiesaaAsemanLaskennallistenAntureidenTilat" message="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilat">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse" message="tns:HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemat">
<wsdl:documentation>Tiesaaasemien haku hakuparametreilla. Jos mitaan hakuparametreja ei ole annettu, niin palautetaan kaikki tiesaaasemat</wsdl:documentation>
      <wsdl:input name="HaeTiesaaAsemat" message="tns:HaeTiesaaAsemat">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaAsematResponse" message="tns:HaeTiesaaAsematResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemanLaskennallisetAnturit">
<wsdl:documentation>Palauttaa kaikki tiesaaaseman laskennalliset anturit. Laskennallinen anturi maarittelee arvolle yksikon ja nimen. Laskennallisen anturin tunniste sisaltyy tiesaatietovirran tietosisaltoon. </wsdl:documentation>
      <wsdl:input name="HaeTiesaaAsemanLaskennallisetAnturit" message="tns:HaeTiesaaAsemanLaskennallisetAnturit">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemanLaskennallisetAnturitResponse" message="tns:HaeTiesaaAsemanLaskennallisetAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemanAnturit">
      <wsdl:input name="HaeTiesaaAsemanAnturit" message="tns:HaeTiesaaAsemanAnturit">
    </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemanAnturitResponse" message="tns:HaeTiesaaAsemanAnturitResponse">
    </wsdl:output>
      <wsdl:fault name="TiesaaException" message="tns:TiesaaException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TiesaaPerustiedot_v1SoapBinding" type="tns:TiesaaPerustiedotEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HaeKaikkiArvovastaavuudet">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiArvovastaavuudet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiArvovastaavuudetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturisanoma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeAnturisanoma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeAnturisanomaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeArvovastaavuus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeArvovastaavuus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeArvovastaavuusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiTiesaaAsemat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiTiesaaAsemat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiTiesaaAsematResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLaskennallinenAnturi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLaskennallinenAnturi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLaskennallinenAnturiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsema">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaAsema">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiAnturisanomat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiAnturisanomat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiAnturisanomatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeAnturi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeAnturi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeAnturiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeKaikkiLaskennallisetAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeKaikkiLaskennallisetAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeKaikkiLaskennallisetAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeLaskennallisenAnturinArvovastaavuudet">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeLaskennallisenAnturinArvovastaavuudet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaAsemanLaskennallistenAntureidenTilat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemanLaskennallistenAntureidenTilatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaAsemat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaAsematResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemanLaskennallisetAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaAsemanLaskennallisetAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemanLaskennallisetAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HaeTiesaaAsemanAnturit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="HaeTiesaaAsemanAnturit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HaeTiesaaAsemanAnturitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TiesaaException">
        <soap:fault name="TiesaaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiesaaPerustiedot_v1">
    <wsdl:port name="TiesaaPerustiedotPort" binding="tns:TiesaaPerustiedot_v1SoapBinding">
      <soap:address location="TIESAA_METADATA_WS_URL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
