src/main/resources/schemas/20161006/xsd/v1/lokimerkinta_tietovirta.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="lokimerkinta">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="vakavuus"/>
                <xs:element type="xs:dateTime" name="aika"/>
                <xs:element type="xs:string" name="kuvaus"/>
                <xs:element type="xs:string" name="koodi"/>
                <xs:element type="xs:string" name="lahde"/>
                <xs:element type="xs:long" name="laiteId"/>
                <xs:element type="xs:long" name="laskennallinenAnturiId"/>
                <xs:element type="xs:string" name="lyhytNimi"/>
                <xs:element type="xs:int" name="vanhaId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>