src/main/resources/schemas/lotju/xsd/v1/lokimerkinta_ltj_tietovirta.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="lokimerkinta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vakavuus">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="INFO" />
                            <xs:enumeration value="WARNING" />
                            <xs:enumeration value="ERROR" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element type="xs:dateTime" name="aika"/>
                <xs:element type="xs:string" name="kuvaus"/>
                <xs:element name="koodi">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="YHTEYSVIRHE_ASEMA_JATKUVA" />
                            <xs:enumeration value="YHTEYSVIRHE_ASEMA_OHI" />
                            <xs:enumeration value="YHTEYSVIRHE_SALASANA" />
                            <xs:enumeration value="KERUUVIRHE_ASEMA_JATKUVA" />
                            <xs:enumeration value="KERUUVIRHE_ASEMA_OHI" />
                            <xs:enumeration value="KERUUVIRHE_ASEMA_VIRHEPROSENTTI" />
                            <xs:enumeration value="KERUUVIRHE_ASEMA_AIKALEIMA" />
                            <xs:enumeration value="DATAVIRHE_ANTURISANOMA_ARVORAJA" />
                            <xs:enumeration value="DATAVIRHE_ANTURISANOMA_PUUTTUU" />
                            <xs:enumeration value="DATAVIRHE_ANTURISANOMA_TUNTEMATON" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="lahde">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="TIESAA_KERUU" />
                            <xs:enumeration value="KAMERA_KERUU" />
                            <xs:enumeration value="LAM_KERUU" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element type="xs:long" name="laiteId"/>
                <xs:element type="xs:long" name="laskennallinenAnturiId"/>
                <xs:element type="xs:string" name="lyhytNimi"/>
                <xs:element type="xs:int" name="vanhaId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>