src/main/resources/schemas/lotju/xsd/v1/metatietomuutos_tiesaa_tietovirta.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="metatietomuutos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="asemat">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" name="id" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="tyyppi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PAIVITYS" />
                        <xs:enumeration value="LISAYS" />
                        <xs:enumeration value="POISTO" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:dateTime" name="aika"/>
            <xs:attribute name="entiteetti">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TIESAA_ASEMA" />
                        <xs:enumeration value="TIESAA_ANTURI" />
                        <xs:enumeration value="TIESAA_ANTURITYYPPI" />
                        <xs:enumeration value="ANTURISANOMA" />
                        <xs:enumeration value="ESIPROSESSOINTI" />
                        <xs:enumeration value="TIESAA_LASKENNALLINENANTURI" />
                        <xs:enumeration value="ARVOVASTAAVUUS" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:long" name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>