src/main/resources/schemas/LOTJU/wsdl/v5/LAMMetatiedot.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://v5.ws.service.meta.lam.lotju.ely.fi/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://ws.livi.fi/wsdl/LOTJU/LAMmetatiedot/2018/03/12" name="LAMMetatiedotEndpointImplService" targetNamespace="http://v5.ws.service.meta.lam.lotju.ely.fi/">
    <wsdl:import location="LAMMetatiedotEndpoint.wsdl" namespace="http://ws.livi.fi/wsdl/LOTJU/LAMmetatiedot/2018/03/12"/>
    <wsdl:binding name="LAMMetatiedotEndpointImplServiceSoapBinding" type="ns1:LAMMetatiedotEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HaeAsemanAnturiVakioArvot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeAsemanAnturiVakioArvot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeAsemanAnturiVakioArvotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLAMLaskennallinenAnturi">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLAMLaskennallinenAnturi">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLAMLaskennallinenAnturiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLAMAsema">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLAMAsema">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLAMAsemaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeAnturiVakioArvot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeAnturiVakioArvot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeAnturiVakioArvotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiLAMAsemat">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeKaikkiLAMAsemat">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeKaikkiLAMAsematResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiArvovastaavuudet">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeKaikkiArvovastaavuudet">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeKaikkiArvovastaavuudetResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeAsemanAnturiVakio">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeAsemanAnturiVakio">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeAsemanAnturiVakioResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLAMAsemanLaskennallistenAntureidenTilat">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLAMAsemanLaskennallistenAntureidenTilat">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLAMAsemanLaskennallistenAntureidenTilatResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiLAMAnturit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeKaikkiLAMAnturit">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeKaikkiLAMAnturitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLaskennallisenAnturinArvovastaavuudet">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLaskennallisenAnturinArvovastaavuudet">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLaskennallisenAnturinArvovastaavuudetResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiAnturiVakioArvot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeKaikkiAnturiVakioArvot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeKaikkiAnturiVakioArvotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLAMAsemanLaskennallisetAnturit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLAMAsemanLaskennallisetAnturit">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLAMAsemanLaskennallisetAnturitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLAMAnturi">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLAMAnturi">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLAMAnturiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeKaikkiLAMLaskennallisetAnturit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeKaikkiLAMLaskennallisetAnturit">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeKaikkiLAMLaskennallisetAnturitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAsemaTilatieto">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateAsemaTilatieto">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAsemaTilatietoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeLAMAsemanAnturit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeLAMAsemanAnturit">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeLAMAsemanAnturitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeAnturiVakio">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeAnturiVakio">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeAnturiVakioResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeArvovastaavuus">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HaeArvovastaavuus">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HaeArvovastaavuusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LAMMetatiedotEndpointImplService">
        <wsdl:port binding="tns:LAMMetatiedotEndpointImplServiceSoapBinding" name="LAMMetatiedotEndpointImplPort">
            <soap:address location="http://LotjuLAMMetatiedot:9006/lammeta/services/ws/LAMMetatiedot/v5"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>